.swiper-pagination .swiper-pagination-bullet {
    width: 50px;
    height: 6px;
    background-color: #D9D9D9;
    transition: 0.3s ease-in-out;
    border-radius: 50rem;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 80px;
    background-color: var(--main-600);
}


.shop-small-thumbs .swiper-slide-thumb-active > div {
    border-color: var(--main-600) !important;
    outline: 3px solid var(--main-600) !important;
}

.shop-small-thumbs .swiper-slide {
    padding: 4px;
}