.home-style-gradient {
    .bg-main-600 {
        background: linear-gradient(90deg, #FF4E8D 0%, #AF35E7 50%, #4C82FC 100%);
    }

    .hover-bg-animation::before {
        height: 100%;
    }

    .hover-bg-animation::before {
        background: linear-gradient(270deg, #FF4E8D 0%, #AF35E7 50%, #4C82FC 100%);
    }

}



// .home-style-gradient body {
//     background-color: red;
// }