<!-- ================================ About section new section start ================================= -->
<section class="about-new py-120 section-bg-gradient-two position-relative">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="">
                    <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                        data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                        <div class="d-flex align-items-center tw-gap-205">
                            <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                                <i class="ph-fill ph-check-circle"></i>
                            </span>
                            <span class="text-primary-new tw-text-lg text-res-12-px fw-semibold text-center">Who We
                                Are</span>
                        </div>
                        <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                        <span class="text-neutral-500 tw-text-lg text-res-12-px fw-normal text-center">About Our
                            Company</span>
                    </div>
                    <h2 class="fw-semibold tw-mt-4 h1"> <span class="text-reveal d-inline">High-Quality Modern
                            Printing</span> <span class="text-gradient-main text-decoration-underline">Solutions</span>
                    </h2>
                    <div class="d-flex align-items-start tw-gap-5 tw-mt-8 custom-fade-animation animation-item"
                        data-delay=".7" data-fade-from="bottom" data-ease="bounce">
                        <span
                            class="bg-white border border-neutral-100 rounded-circle tw-w-16 tw-h-16 d-flex justify-content-center align-items-center tw-text-3xl text-primary-new tw-mt-2">
                            <i class="ph ph-pen animate__heartBeat"></i>
                        </span>
                        <div class="position-relative group group-item">
                            <div class="flex-shrink-0">
                                <h2 class="display-5 fw-bold"><span class="counter">55.6</span><span
                                        class="h4">K</span><span class="text-danger">+</span></h2>
                                <span class="text-neutral-500 tw-text-lg tw-mt-2">Prints Delivered Globally</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-neutral-500 max-w-650-px tw-mt-7 tw-mb-10" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="500">Printop is a modern printing company dedicated to delivering high-quality,
                        reliable, and creative printing solutions with expert craftsmanship.</p>
                    <div class="d-inline-flex flex-column tw-gap-3">
                        <div class="bg-white rounded-pill border border-neutral-100 tw-py-305 tw-ps-4 tw-pe-5 d-inline-flex align-items-center tw-gap-3"
                            data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                            <span class="text-primary-new d-sm-flex d-none tw-text-2xl">
                                <i class="ph-fill ph-check-circle"></i>
                            </span>
                            <span class="text-neutral-500 tw-text-lg text-res-12-px fw-normal text-center">Premium Quality Printing You Trust</span>
                        </div>
                        <div class="bg-white rounded-pill border border-neutral-100 tw-py-305 tw-ps-4 tw-pe-5 d-inline-flex align-items-center tw-gap-3"
                            data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                            <span class="text-primary-new d-sm-flex d-none tw-text-2xl">
                                <i class="ph-fill ph-check-circle"></i>
                            </span>
                            <span class="text-neutral-500 tw-text-lg text-res-12-px fw-normal text-center">Fast Delivery With Reliable Service</span>
                        </div>
                    </div>
                    <div class="tw-mt-10 d-flex align-items-center tw-gap-5">

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ About section new section end ================================= -->