<!-- ============================= About home service section start ================================= -->
<section class="counter-home-service">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            TOP CATEGORIES
                        </span>
                        <h2 class="splitTextStyleOne fw-semibold tw-mt-4">Smart and Effective Your Printing Solutions</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                            will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= About home service section end ================================= -->