<!-- ================================== About section start ============================= -->
<section class="about py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="">
                    <div class="row gy-4">
                        <div class="col-sm-6">
                            <div class="">
                                <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img1.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img2.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img3.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img4.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="section-heading">
                    <span class="border border-main-600 rounded-pill tw-px-5 tw-py-2 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase">
                        <i class="ph ph-arrow-right"></i>
                        TOP CATEGORIES
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== About section end ============================= -->