<!-- ================================== About section start ============================= -->
<section class="about py-120 portfolio-area position-relative">

    <div class="text-center">
        <h2 class="portfolio-text">
            Our
            <span>Work
                <svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.1806 0.652913C10.5028 -0.217705 11.7342 -0.217705 12.0563 0.652913L14.4701 7.17599C14.5714 7.44971 14.7872 7.66552 15.0609 7.7668L21.584 10.1806C22.4546 10.5027 22.4546 11.7341 21.584 12.0563L15.0609 14.47C14.7872 14.5713 14.5714 14.7871 14.4701 15.0608L12.0563 21.5839C11.7342 22.4545 10.5028 22.4545 10.1806 21.5839L7.76686 15.0608C7.66558 14.7871 7.44977 14.5713 7.17605 14.47L0.652974 12.0563C-0.217644 11.7341 -0.217644 10.5027 0.652974 10.1806L7.17605 7.7668C7.44977 7.66552 7.66558 7.44971 7.76686 7.17599L10.1806 0.652913Z"
                        fill="currentColor" />
                </svg>
            </span>
            <br> Featured
        </h2>
    </div>

    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-xl-6">
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div class="d-flex flex-column tw-gap-7 tw-mt-15">
                            <div class="">
                                <div class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img1.png" alt="About Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img2.png" alt="About Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column tw-gap-7">
                            <div class="">
                                <div class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-left-right-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img3.png" alt="About Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-right-bottom-50-px overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/about-img4.png" alt="About Image"
                                            class="w-100 h-100 object-fit-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xxl-5">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            about Printop
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">Premium Product Categories, You Have to
                            Customize</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                            will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                    <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Customer happiness guarantee</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Top quality prints using the latest
                                technology</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Fast and free standard shipping</span>
                        </div>
                    </div>
                    <div class="tw-mt-12 d-flex tw-gap-6">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Get Started Now</span>
                            <span class="d-flex position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                        <a href="shop.html"
                            class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Shop Now</span>
                            <span class="d-flex position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== About section end ============================= -->