<!-- ================================== About section start ============================= -->
<section class="about py-120 portfolio-area position-relative">
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-xl-6">
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div class="d-flex flex-column tw-gap-7 tw-mt-15">
                            <div
                                class="clip-animation image-double-animation tw-rounded-left-right-50-px overflow-hidden">
                                <img src="assets/images/thumbs/about-img1.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/about-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <div
                                class="clip-animation image-double-animation tw-rounded-left-right-50-px overflow-hidden">
                                <img src="assets/images/thumbs/about-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/about-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-column tw-gap-7">
                            <div
                                class="clip-animation image-double-animation tw-rounded-left-right-50-px overflow-hidden">
                                <img src="assets/images/thumbs/about-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/about-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                            <div
                                class="clip-animation image-double-animation tw-rounded-right-bottom-50-px overflow-hidden">
                                <img src="assets/images/thumbs/about-img4.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/about-img4.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="ps-xxl-5">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            about Printop
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">Premium Product Categories, You Have to
                            Customize</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                            will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                    <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Customer happiness guarantee</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Top quality prints using the latest
                                technology</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Fast and free standard shipping</span>
                        </div>
                    </div>
                    <div class="tw-mt-12 d-flex tw-gap-6">
                        <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                            <a href="contact.html"
                                class="btn bg-main-two-600 hover-bg-animation hover-bg-animation-main-600">
                                <div class="btn-text">Get Started Now </div>
                                <span class="btn-icon-animation">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="custom-fade-animation" data-delay=".7" data-fade-from="bottom" data-ease="bounce">
                            <a href="shop.html"
                                class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600">
                                <div class="btn-text">Shop Now </div>
                                <span class="btn-icon-animation">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== About section end ============================= -->