<!-- ================================= About Home Demand section start ============================= -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-xl-6">
                <div class="me-xl-5 me-xl-4 position-relative">
                    <div class="position-absolute z-1 top-0 start-50 translate-middle-x tw-mt-8 move-on-cursor-hover">
                        <img src="assets/images/shapes/design-your-own.png" alt="Image">
                    </div>
                     <div class="position-absolute z-1 bottom-0 end-0 tw-me-15 tw-pe-5 tw-mb-4">
                        <img src="assets/images/shapes/cursor-shape.png" alt="Image" class="move-on-cursor-hover" data-value="10">
                    </div>

                    <div class="row gy-4 align-items-center">
                        <div class="col-6">
                            <div class="d-flex flex-column tw-gap-6">
                                <div class="clip-animation image-double-animation tw-rounded-20-px overflow-hidden">
                                    <div class="">
                                        <img src="assets/images/thumbs/about-home-demand-img1.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/about-home-demand-img1.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </div>
                                <div class="clip-animation image-double-animation tw-rounded-20-px overflow-hidden">
                                    <div class="">
                                        <img src="assets/images/thumbs/about-home-demand-img2.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/about-home-demand-img2.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="clip-animation image-double-animation tw-rounded-20-px overflow-hidden">
                                <div class="">
                                    <img src="assets/images/thumbs/about-home-demand-img3.png" alt="Image"
                                        data-animate="true"
                                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    <img src="assets/images/thumbs/about-home-demand-img3.png" alt="Image"
                                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xxl-5">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            about Printop
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">High Quality Printing Service New York</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                            will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                    <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Customer happiness guarantee</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Top quality prints using the latest
                                technology</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Fast and free standard shipping</span>
                        </div>
                    </div>
                    <div
                        class="tw-my-12 d-flex align-items-center tw-gap-6 justify-content-between flex-sm-nowrap flex-wrap max-w-580-px">
                        <div class="d-flex align-items-center tw-gap-6 animation-item custom-fade-animation"
                            data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                            <span class="">
                                <img src="assets/images/icons/choose-us-icon2.png" alt="Icon"
                                    class="text-invert-black tw-w-13 animate__bounce">
                            </span>
                            <span class="text-heading tw-text-lg fw-semibold max-w-180-px">Low minimums & easily
                                customizable</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-6 animation-item custom-fade-animation"
                            data-delay=".8" data-fade-from="bottom" data-ease="bounce">
                            <span class="">
                                <img src="assets/images/icons/choose-us-icon3.png" alt="Icon"
                                    class="text-invert-black tw-w-13 animate__bounce">
                            </span>
                            <span class="text-heading tw-text-lg fw-semibold max-w-180-px">Faster delivery - Standard or
                                Express</span>
                        </div>
                    </div>
                    <div class="tw-mt-12 d-flex tw-gap-7 align-items-center flex-wrap">
                        <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                            <a href="contact.html"
                                class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-two-600">
                                <div class="btn-text">Get Started Now </div>
                                <span class="btn-icon-animation d-flex">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap custom-fade-animation"
                            data-delay=".8" data-fade-from="bottom" data-ease="bounce">
                            <div class="d-flex align-items-center pointer-events-auto">
                                <div
                                    class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative z-0">
                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                                <div
                                    class="pointer-events-auto tw-w-17 tw-h-17 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-4 border border-white border-2 position-relative tw--ms-20-px z-1">
                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                        class="w-100 h-100 object-fit-cover">
                                </div>
                            </div>
                            <p class="fw-normal text-body max-w-200-px text-balance">
                                <span class="d-block tw-text-2xl fw-bold counter text-heading">45355+</span>
                                Happy Customers
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= About Home Demand section end ============================= -->