<!-- ================================== Banner section start =============================== -->
<section class="banner-new section-bg-gradient pt-80-px scroll-scale-item-wrapper position-relative overflow-hidden z-1">

    <div class="">
        <div class="text-center max-w-1050-px mx-auto tw-px-6">
            <div class="bg-white rounded-pill common-shadow-two tw-py-2 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                <div class="d-flex align-items-center tw-gap-205">
                    <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                        <i class="ph-fill ph-check-circle"></i>
                    </span>
                    <span class="text-primary-new tw-text-lg text-res-12-px fw-semibold">Print Beyond Limits</span>
                </div>
                <span class="border-end border-neutral-300 tw-h-7 tw-w-px"></span>
                <span class="text-neutral-500 tw-text-lg text-res-12-px fw-normal">Trusted by 50K+ Clients</span>
            </div>
            <h1 class="tw-mt-4 banner-title fw-bold splitTextStyleOne">
                Find
                <span class="typed-text-wrapper text-start">
                    <span class="typed-text  text-gradient-main text-decoration-underline"></span>
                </span>
                Printing
                <span class="custom-fade-animation max-width-img" data-delay=".6" data-fade-from="bottom" data-ease="bounce"><img
                        src="assets/images/shapes/user-img.png" alt="User Image"></span>
                For Your Brand
                <span class="custom-fade-animation d-lg-inline-flex d-none" data-delay=".7" data-fade-from="bottom" data-ease="bounce"><img
                        src="assets/images/shapes/rounded-element.png" alt="User Image"></span>
            </h1>

            <p class="tw-text-xl tw-mt-6 max-w-650-px mx-auto" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="500">The smartest platform to discover authentic influencers,
                launch viral
                campaigns, and scale your brand's.</p>
            <div class="tw-mt-10 d-inline-flex tw-gap-6 button-responsive-class">
                <div class="custom-fade-animation" data-delay=".8" data-fade-from="bottom" data-ease="bounce">
                    <a href="contact.html"
                        class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-600 tw-ps-2 tw-pe-6 tw-py-3 py-sm-2">
                        <span
                            class="btn-icon-animation d-sm-flex d-none align-items-center justify-content-center z-1 tw-w-9 tw-h-9 bg-white rounded-circle">
                            <i class="ph-bold ph-arrow-right text-gradient-main"></i>
                        </span>
                        <span class="btn-text">Get Started </span>
                    </a>
                </div>
                <div class="custom-fade-animation" data-delay=".9" data-fade-from="bottom" data-ease="bounce">
                    <a href="shop.html"
                        class="btn bg-transparent border border-primary-new text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600 tw-ps-2 tw-pe-6 tw-py-3 py-sm-2 hover-icon-white hover-animate-text-white">
                        <span
                            class="btn-icon-animation d-sm-flex d-none align-items-center justify-content-center z-1 tw-w-9 tw-h-9 bg-main-600 rounded-circle">
                            <i class="ph-bold ph-arrow-right text-white"></i>
                        </span>
                        <span class="btn-text text-gradient-main">
                            Get In Touch
                        </span>
                    </a>
                </div>
            </div>
            <div class="tw-mt-8 d-inline-flex tw-gap-8 flex-wrap align-items-center">
                <div class="d-flex align-items-center tw-gap-205 animation-item" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="200">
                    <span class="text-primary-new d-flex tw-text-xl animate__heartBeat">
                        <i class="ph-bold ph-check-circle"></i>
                    </span>
                    <span class="tw-text-xl text-neutral-700">10K+ Prints Delivered</span>
                </div>
                <div class="d-flex align-items-center tw-gap-205 animation-item" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="400">
                    <span class="text-primary-new d-flex tw-text-xl animate__heartBeat">
                        <i class="ph-bold ph-check-circle"></i>
                    </span>
                    <span class="tw-text-xl text-neutral-700">24-48 Hour Fast Delivery</span>
                </div>
                <div class="d-flex align-items-center tw-gap-205 animation-item" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="600">
                    <span class="text-primary-new d-flex tw-text-xl animate__heartBeat">
                        <i class="ph-bold ph-check-circle"></i>
                    </span>
                    <span class="tw-text-xl text-neutral-700">99% Client Satisfaction</span>
                </div>
            </div>
        </div>
        <h2 class="text-220-px text-uppercase text-stroke d-inline-block writing-mode-lr position-absolute top-0 end-0 tw-me-13 tw-duration-300 tw-mb-12 z-n1">
            • Printop
        </h2>

        <div class="d-xxl-block d-none">
            <div class="position-absolute z-n1 banner-element-1">
                <img src="assets/images/shapes/banner-element-img1.png" alt="Element Shape" class="animation-rotate-scale">
            </div>
            <div class="position-absolute z-n1 banner-element-2">
                <img src="assets/images/shapes/banner-element-img2.png" alt="Element Shape" class="animated-upDown">
            </div>
            <div class="position-absolute z-n1 banner-element-3">
                <img src="assets/images/shapes/banner-element-img3.png" alt="Element Shape" class="animation-scalation">
            </div>
            <div class="position-absolute z-n1 banner-element-4">
                <img src="assets/images/shapes/banner-element-img4.png" alt="Element Shape" class="animation-rotate-right">
            </div>
            <div class="position-absolute z-n1 banner-element-5">
                <img src="assets/images/shapes/banner-element-img5.png" alt="Element Shape" class="animation-scalation">
            </div>
            <div class="position-absolute z-n1 banner-element-6">
                <img src="assets/images/shapes/banner-element-img6.png" alt="Element Shape" class="animated-upDown">
            </div>
            <div class="position-absolute z-n1 banner-element-7">
                <img src="assets/images/shapes/banner-element-img7.png" alt="Element Shape" class="animation-rotate-right">
            </div>
        </div>

        <div class="pt-80-px">
            <img src="assets/images/thumbs/banner-all-img.png" alt="Image" class="w-100 h-100 scroll-scale-item">
        </div>
    </div>
</section>
<!-- ================================== Banner section end =============================== -->