<!-- ================================== Banner section start =============================== -->
<section class="banner-new py-120">
    <div class="container">
        <div class="text-center max-w-980-px mx-auto">
            <div class="bg-white rounded-pill common-shadow-two tw-py-2 tw-px-4 d-inline-flex align-items-center tw-gap-3">
                <div class="d-flex align-items-center tw-gap-205">
                    <span class="text-primary-new d-flex tw-text-xl">
                        <i class="ph-fill ph-check-circle"></i>
                    </span>
                    <span class="text-primary-new tw-text-lg fw-semibold">Print Beyond Limits</span>
                </div>
                <span class="border-end border-neutral-300 tw-h-7 tw-w-px"></span>
                <span class="text-neutral-500 tw-text-lg fw-normal">Trusted by 50K+ Clients</span>
            </div>
            <h1 class="tw-mt-4 display-2 fw-bold">
                Find Creative Printing <span class=""><img src="assets/images/shapes/user-img.png" alt="User Image"></span> For Your Brand <span class=""><img src="assets/images/shapes/rounded-element.png" alt="User Image"></span> 
            </h1>
            <p class="tw-text-xl tw-mt-6">The smartest platform to discover authentic influencers, launch viral campaigns, and scale your brand's.</p>
            <div class="tw-mt-10">
                
            </div>
        </div>
    </div>
</section>
<!-- ================================== Banner section end =============================== -->