<!-- ========================== Banner home service start =============================== -->
<section class="banner-home-service mash-gradient-shape pb-120 tw-pt-16 position-relative">
    <div class="mash-gradient-bottom">
        <div class="max-w-1720-px position-relative mx-auto container">
            <div class="d-flex align-items-center justify-content-between tw-gap-12 flex-lg-row flex-column">
                <div class="flex-grow-1 d-flex justify-content-center">
                    <div class="max-w-476-px text-center">
                        <span
                            class="border border-pink-600 border-pink-600 tw-py-105 tw-px-4 md-rounded-pill tw-rounded-md text-heading d-inline-flex flex-sm-row flex-column tw-gap-1 fw-semibold">
                            <span class="text-pink-600">20% off</span> All Time On Order Now $120</span>
                        <h1 class="fw-semibold tw-mt-8 splitTextStyleOne">Creating Easy and So Customize</h1>
                        <div class="tw-mt-10">
                            <p class="text-body">We have all the equipment, know-how and every thing you will need to receive fast, reliable printing services with high quality.</p>
                        </div>
                        <div class="tw-mt-9 d-flex tw-gap-6 button-responsive-class justify-content-center">
                            <a href="contact.html"
                                class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started Now</span>
                                <span class="d-xl-flex d-none position-relative tw-text-xl">
                                    <span class="btn-down-arrow">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </span>
                            </a>
                            <a href="shop.html"
                                class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Shop Now</span>
                                <span class="d-xl-flex d-none position-relative tw-text-xl">
                                    <span class="btn-down-arrow">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <img src="assets/images/thumbs/banner-three-img.png" alt="Image" class="">
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- ========================== Banner home service end =============================== -->