<!-- ========================== Banner home service start =============================== -->
<section class="banner-home-service mash-gradient-shape pb-120 tw-pt-16 position-relative section-animation-onload">
    <div class="mash-gradient-bottom">
        <div class="max-w-1720-px position-relative mx-auto container">
            <div class="d-flex align-items-center justify-content-between tw-gap-12 flex-lg-row flex-column">
                <div class="flex-grow-1 d-flex justify-content-center">
                    <div class="max-w-476-px text-center">
                        <span
                            class="border border-pink-600 border-pink-600 tw-py-105 tw-px-4 md-rounded-pill tw-rounded-md text-heading d-inline-flex flex-sm-row flex-column tw-gap-1 fw-semibold" data-aos="fade-up" data-aos-duration="600" data-aos-delay="10">
                            <span class="text-pink-600">20% off</span> All Time On Order Now $120</span>
                        <h1 class="fw-semibold tw-mt-8 splitTextStyleOne">Creating Easy and So Customize</h1>
                        <div class="tw-mt-10" data-aos="fade-up" data-aos-duration="600" data-aos-delay="10">
                            <p class="text-body">We have all the equipment, know-how and every thing you will need to
                                receive fast, reliable printing services with high quality.</p>
                        </div>
                        <div class="tw-mt-9 d-flex tw-gap-6 button-responsive-class justify-content-center">
                            <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-main-two-600 hover-bg-animation hover-bg-animation-main-600">
                                    <span class="btn-text">Get Started Now </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="custom-fade-animation" data-delay=".7" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="shop.html"
                                    class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600">
                                    <span class="btn-text">Shop Now </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="clip-animation image-double-animation overflow-hidden">
                        <div class="">
                            <img src="assets/images/thumbs/banner-three-img.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/banner-three-img.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Banner home service end =============================== -->