<!-- Banner content start -->
<div class="tw-pt-9">
    <div class="position-relative mash-gradient-shape z-1">
        <div class="">
            <div class="swiper banner-slider overflow-hidden d-inline-block">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="max-w-476-px">
                                <span
                                    class="border border-pink-600 border-pink-600 tw-py-105 tw-px-4 rounded-pill text-heading fw-semibold">
                                    <span class="text-pink-600">20% off</span> All Time On Order Now $120</span>
                                <h1 class="fw-semibold text-capitalize tw-mt-8">Creating Easy and So Customize</h1>
                                <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                                    <div class="d-flex align-items-center tw-gap-105">
                                        <span
                                            class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                            <i class="ph-bold ph-check"></i>
                                        </span>
                                        <span class="tw-text-xl text-neutral-600">Customer happiness guarantee</span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-105">
                                        <span
                                            class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                            <i class="ph-bold ph-check"></i>
                                        </span>
                                        <span class="tw-text-xl text-neutral-600">Top quality prints using the latest
                                            technology</span>
                                    </div>
                                </div>
                                <div class="tw-mt-9 d-flex tw-gap-6">
                                    <a href="#"
                                        class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4"
                                        data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Get Started Now</span>
                                        <span class="d-flex position-relative tw-text-xl">
                                            <i class="ph-bold ph-arrow-down-right"></i>
                                        </span>
                                    </a>
                                    <a href="#"
                                        class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium"
                                        data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Shop Now</span>
                                        <span class="d-flex position-relative tw-text-xl">
                                            <i class="ph-bold ph-arrow-down-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="flex-grow-1 text-center">
                                <img src="assets/images/thumbs/banner-img1.png" alt="Banner Thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="d-inline-flex align-items-center justify-content-betwee">
                            <div class="max-w-476-px">
                                <span
                                    class="border border-pink-600 border-pink-600 tw-py-105 tw-px-4 rounded-pill text-heading fw-semibold">
                                    <span class="text-pink-600">20% off</span> All Time On Order Now $120</span>
                                <h1 class="fw-semibold text-capitalize tw-mt-8">Creating Easy and So Customize</h1>
                                <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                                    <div class="d-flex align-items-center tw-gap-105">
                                        <span
                                            class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                            <i class="ph-bold ph-check"></i>
                                        </span>
                                        <span class="tw-text-xl text-neutral-600">Customer happiness guarantee</span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-105">
                                        <span
                                            class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                            <i class="ph-bold ph-check"></i>
                                        </span>
                                        <span class="tw-text-xl text-neutral-600">Top quality prints using the latest
                                            technology</span>
                                    </div>
                                </div>
                                <div class="tw-mt-9 d-flex tw-gap-6">
                                    <a href="#"
                                        class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4"
                                        data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Get Started Now</span>
                                        <span class="d-flex position-relative tw-text-xl">
                                            <i class="ph-bold ph-arrow-down-right"></i>
                                        </span>
                                    </a>
                                    <a href="#"
                                        class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium"
                                        data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Shop Now</span>
                                        <span class="d-flex position-relative tw-text-xl">
                                            <i class="ph-bold ph-arrow-down-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="flex-grow-1 text-center">
                                <img src="assets/images/thumbs/banner-img1.png" alt="Banner Thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner content end -->