<!-- ========================= Banner two section start =============================== -->
<section class="banner-demand banner-bg-light position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="max-w-476-px">
                    <span
                        class="border border-pink-600 border-pink-600 tw-py-105 tw-px-4 md-rounded-pill tw-rounded-md text-heading d-inline-flex flex-sm-row flex-column tw-gap-1 fw-semibold">
                        <span class="text-pink-600">20% off</span> All Time On Order Now $120</span>
                    <h1 class="fw-semibold tw-mt-8 text-reveal">Reasons to Get Printing Started With Us</h1>
                    <div class="tw-mt-10 d-flex flex-column tw-gap-5">
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Customer happiness guarantee</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Top quality prints using the latest
                                technology</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span
                                class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="tw-text-xl text-body-6">Free and easy to get started</span>
                        </div>
                    </div>
                    <div class="tw-mt-9 d-flex tw-gap-6 button-responsive-class">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Get Started Now</span>
                            <span class="btn-down-arrow d-lg-flex d-none position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                        <a href="shop.html"
                            class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Shop Now</span>
                            <span class="btn-down-arrow d-lg-flex d-none position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <div class="banner-demand__thumb position-absolute tw-end-0 top-0 h-100 w-auto">
                    <img src="assets/images/thumbs/banner-demand-img.png" alt="Image" class="w-100 h-100 object-fit-cover">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Banner two section end =============================== -->