<!-- =============================== BLog page content start ================================ -->
<section class="blog-page-content pt-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="d-flex flex-column tw-gap-62-px">
                    <!-- Item start -->
                    <div class="">
                        <div class="position-relative">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/blog-page-img1.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/blog-page-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="d-flex tw-gap-2 position-absolute start-0 bottom-0 tw-mb-5 tw-ms-5 z-1">
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold">#BUSINESS
                                </span>
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold d-flex align-items-center tw-gap-2">
                                    <span class="d-flex">
                                        <img src="assets/images/icons/icon-fire.png" alt="Fire Icon">
                                    </span>
                                    594 Views
                                </span>
                            </div>
                        </div>
                        <div class="tw-pt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="">
                                        <img src="assets/images/thumbs/meta-img.png" alt="Meta Image">
                                    </span>
                                    <span class="text-neutral-500 fw-semibold">Armin Vans</span>
                                </div>
                                <span class="tw-w-4 tw-h-px bg-neutral-200"></span>
                                <span class="text-body-11 fw-semibold tw-text-sm">09 January 2026</span>
                            </div>
                            <h2 class="text-38-px tw-mt-5 tw-mb-6">
                                <a href="blog-details.html"
                                    class="text-heading hover-common-underline hover-text-heading">Top 10 etsy print on
                                    demand partners to kickstart</a>
                            </h2>
                            <p class="tw-text-lg text-body-11 max-w-790-px">Far far away, behind the word mountains, far
                                from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in...
                            </p>
                            <div class="custom-fade-animation tw-mt-6" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600 tw-py-3 tw-px-6">
                                    <span class="btn-text">Read More </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Item end -->

                    <!-- Item start -->
                    <div class="">
                        <div class="position-relative">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/blog-page-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/blog-page-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="d-flex tw-gap-2 position-absolute start-0 bottom-0 tw-mb-5 tw-ms-5 z-1">
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold">#BUSINESS
                                </span>
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold d-flex align-items-center tw-gap-2">
                                    <span class="d-flex">
                                        <img src="assets/images/icons/icon-fire.png" alt="Fire Icon">
                                    </span>
                                    594 Views
                                </span>
                            </div>
                        </div>
                        <div class="tw-pt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="">
                                        <img src="assets/images/thumbs/meta-img.png" alt="Meta Image">
                                    </span>
                                    <span class="text-neutral-500 fw-semibold">Armin Vans</span>
                                </div>
                                <span class="tw-w-4 tw-h-px bg-neutral-200"></span>
                                <span class="text-body-11 fw-semibold tw-text-sm">09 January 2026</span>
                            </div>
                            <h2 class="text-38-px tw-mt-5 tw-mb-6">
                                <a href="blog-details.html"
                                    class="text-heading hover-common-underline hover-text-heading">From Vision to Print:
                                    Mastering the Art of Customize</a>
                            </h2>
                            <p class="tw-text-lg text-body-11 max-w-790-px">Far far away, behind the word mountains, far
                                from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in...
                            </p>
                            <div class="custom-fade-animation tw-mt-6" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600 tw-py-3 tw-px-6">
                                    <span class="btn-text">Read More </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Item end -->

                    <!-- Item start -->
                    <div class="">
                        <div class="position-relative">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/blog-page-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/blog-page-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="d-flex tw-gap-2 position-absolute start-0 bottom-0 tw-mb-5 tw-ms-5 z-1">
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold">#BUSINESS
                                </span>
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold d-flex align-items-center tw-gap-2">
                                    <span class="d-flex">
                                        <img src="assets/images/icons/icon-fire.png" alt="Fire Icon">
                                    </span>
                                    594 Views
                                </span>
                            </div>
                        </div>
                        <div class="tw-pt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="">
                                        <img src="assets/images/thumbs/meta-img.png" alt="Meta Image">
                                    </span>
                                    <span class="text-neutral-500 fw-semibold">Armin Vans</span>
                                </div>
                                <span class="tw-w-4 tw-h-px bg-neutral-200"></span>
                                <span class="text-body-11 fw-semibold tw-text-sm">09 January 2026</span>
                            </div>
                            <h2 class="text-38-px tw-mt-5 tw-mb-6">
                                <a href="blog-details.html"
                                    class="text-heading hover-common-underline hover-text-heading">Personalized Printing
                                    for
                                    a Personal Touch</a>
                            </h2>
                            <p class="tw-text-lg text-body-11 max-w-790-px">Far far away, behind the word mountains, far
                                from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in...
                            </p>
                            <div class="custom-fade-animation tw-mt-6" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600 tw-py-3 tw-px-6">
                                    <span class="btn-text">Read More </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Item end -->

                    <!-- Item start -->
                    <div class="">
                        <div class="position-relative">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/blog-page-img4.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/blog-page-img4.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="d-flex tw-gap-2 position-absolute start-0 bottom-0 tw-mb-5 tw-ms-5 z-1">
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold">#BUSINESS
                                </span>
                                <span
                                    class="bg-white rounded-pill text-body-11 tw-px-4 tw-p-105 tw-text-sm fw-semibold d-flex align-items-center tw-gap-2">
                                    <span class="d-flex">
                                        <img src="assets/images/icons/icon-fire.png" alt="Fire Icon">
                                    </span>
                                    594 Views
                                </span>
                            </div>
                        </div>
                        <div class="tw-pt-6">
                            <div class="d-flex align-items-center tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="">
                                        <img src="assets/images/thumbs/meta-img.png" alt="Meta Image">
                                    </span>
                                    <span class="text-neutral-500 fw-semibold">Armin Vans</span>
                                </div>
                                <span class="tw-w-4 tw-h-px bg-neutral-200"></span>
                                <span class="text-body-11 fw-semibold tw-text-sm">09 January 2026</span>
                            </div>
                            <h2 class="text-38-px tw-mt-5 tw-mb-6">
                                <a href="blog-details.html"
                                    class="text-heading hover-common-underline hover-text-heading">Modern and Colorful
                                    Style
                                    of Caricatures</a>
                            </h2>
                            <p class="tw-text-lg text-body-11 max-w-790-px">Far far away, behind the word mountains, far
                                from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in...
                            </p>
                            <div class="custom-fade-animation tw-mt-6" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600 tw-py-3 tw-px-6">
                                    <span class="btn-text">Read More </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Item end -->
                </div>
                <div class="tw-mt-16 d-flex">
                    <ul class="d-flex flex-wrap tw-gap-4">
                        <li class="">
                            <a class="tw-w-12 tw-h-12 bg-neutral-100 text-heading fw-bold hover-bg-main-600 hover-text-white d-flex justify-content-center align-items-center tw-rounded-md"
                                href="#">1</a>
                        </li>
                        <li class="">
                            <a class="tw-w-12 tw-h-12 bg-neutral-100 text-heading fw-bold hover-bg-main-600 hover-text-white d-flex justify-content-center align-items-center tw-rounded-md"
                                href="#">2</a>
                        </li>
                        <li class="">
                            <a class="tw-w-12 tw-h-12 bg-neutral-100 text-heading fw-bold hover-bg-main-600 hover-text-white d-flex justify-content-center align-items-center tw-rounded-md"
                                href="#">3</a>
                        </li>
                        <li class="">
                            <a class="tw-px-4 tw-h-12 bg-neutral-100 text-heading fw-bold hover-bg-main-600 hover-text-white d-flex justify-content-center align-items-center tw-rounded-md"
                                href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 ps-xl-5">
                @@include('../partials/_blog-sidebar.html')
            </div>
        </div>
    </div>
</section>
<!-- =============================== BLog page content end ================================ -->