<!-- ========================== Blog new section start ============================= -->
<section class="blog-new py-120">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-lg-nowrap flex-wrap tw-gap-6 tw-mb-15">
            <div class="max-w-650-px">
                <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                    data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                    <div class="d-flex align-items-center tw-gap-205">
                        <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                            <i class="ph-fill ph-check-circle"></i>
                        </span>
                        <span class="text-primary-new tw-text-lg text-res-14-px fw-semibold text-center">Our Blog</span>
                    </div>
                    <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                    <span class="text-neutral-500 tw-text-lg text-res-14-px fw-normal text-center">News &
                        Insights</span>
                </div>
                <h2 class="fw-bold tw-mt-4 h1"> <span class="text-reveal d-inline">Explore Expert Insights And Creative
                    </span> <span class="text-gradient-main text-decoration-underline">Ideas</span>
                </h2>
            </div>
            <div class="max-w-400-px d-flex flex-column tw-gap-8">
                <p class="text-neutral-500 text-lg-end">Our blog is designed to help businesses and individuals make
                    smarter printing decisions, improve design.</p>
                <div class=" d-flex justify-content-lg-end">
                    <div class="custom-fade-animation" data-delay=".7" data-fade-from="bottom" data-ease="bounce">
                        <a href="contact.html"
                            class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-600 tw-ps-2 tw-pe-6 tw-py-3 py-sm-2">
                            <span
                                class="btn-icon-animation d-flex align-items-center justify-content-center z-1 tw-w-9 tw-h-9 bg-white rounded-circle">
                                <i class="ph-bold ph-arrow-right text-gradient-main"></i>
                            </span>
                            <span class="btn-text">See All Blogs</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6">
                 <div class="">
                        <span class="bg-secondary-new text-heading tw-py-2 tw-px-5 rounded-top-4 tw-mx-6 tw--mt-10-px tw-text-lg">Printing Trends</span>
                    </div>
                <div
                    class="tw-rounded-2xl bg-neutral-50 overflow-hidden border border-neutral-100 image-double-animation h-100 border border-neutral-100 border-top-0">
                   
                    <div class="position-relative">
                        <a href="blog-details.html" class="clip-animation overflow-hidden position-relative d-block">
                            <img src="assets/images/thumbs/top-categories-new-img1.png" alt="Image" data-animate="true"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            <img src="assets/images/thumbs/top-categories-new-img1.png" alt="Image"
                                class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        </a>

                    </div>
                    <div class="tw-pt-7 tw-px-7 tw-pb-8">  
                        <div class="d-flex align-items-center tw-gap-305">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="d-flex text-primary-new tw-text-xl">
                                    <i class="ph ph-user"></i>
                                </span>
                                <span class="text-neutral-700 fw-medium">Courtney Henry</span>
                            </div>
                            <span class="tw-w-1 tw-h-1 rounded-circle bg-danger d-xxl-inline-flex d-none"></span>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="d-flex text-primary-new tw-text-xl">
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                                <span class="text-neutral-500 fw-normal">
                                    <span class="text-neutral-700 fw-medium">216</span>
                                    Comments
                                </span>
                            </div>
                        </div>
                         <h2 class="tw-mt-4 h3">
                            <a href="blog-details.html"
                                class="text-heading hover-text-heading line-clamp-3 hover-common-underline">Top Trends in Modern Printing System</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Blog new section end ============================= -->