<!-- ============================ Choose Us of home demand section start ===================== -->
<section class="py-120">
    <div class="container">
        <div class="bg-neutral-100 tw-rounded-3xl tw-px-80-px tw-py-80-px d-flex tw-gap-8 justify-content-between flex-xl-row flex-column">
            <div class="max-w-580-px">
                <div class="section-heading tw-mb-10">
                    <span
                        class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                        <i class="ph-fill ph-caret-double-right"></i>
                        why choose us
                    </span>
                    <h2 class="splitTextStyleOne fw-semibold tw-mt-4">We create your prints and get them where they have
                        to go</h2>
                    <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                        will need to receive fast, reliable printing services with high quality results.</p>
                </div>
                <a href="contact.html"
                    class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-405"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Start A Project</span>
                    <span class="d-flex position-relative tw-text-xl">
                        <span class="btn-down-arrow">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </span>
                </a>
            </div>
            <div class="max-w-476-px">
                <div class="row gy-4">
                    <div class="col-6">
                        <div class="d-flex flex-column tw-gap-6 tw-mt-705">
                            <div class="bg-white tw-rounded-xl tw-px-705 tw-py-10">
                                <h2 class="h1 text-main-600 counter">584+</h2>
                                <span class="tw-mt-2 tw-text-lg">Invested in printing</span>
                            </div>
                            <div class="bg-white tw-rounded-xl tw-px-705 tw-py-10">
                                <h2 class="h1 text-main-600 counter">89%</h2>
                                <span class="tw-mt-2 tw-text-lg">Invested in printing</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column tw-gap-6">
                            <div class="bg-white tw-rounded-xl tw-px-705 tw-py-10">
                                <h2 class="h1 text-main-600 counter">584+</h2>
                                <span class="tw-mt-2 tw-text-lg">Invested in printing</span>
                            </div>
                            <div class="bg-white tw-rounded-xl tw-px-705 tw-py-10">
                                <h2 class="h1 text-main-600 counter">89%</h2>
                                <span class="tw-mt-2 tw-text-lg">Invested in printing</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Choose Us of home demand section end ===================== -->