<!-- ========================== Contact section start ========================= -->
<section class="contact-section pt-120">
    <div class="container">
        <div class="section-heading tw-mb-10 text-center">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                CONTACT US
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">Contact Us for Your Help</h2>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div class="h-100 border border-neutral-200 tw-px-40-px tw-py-11 tw-rounded-20-px d-flex align-items-center tw-gap-5 group group-item">
                    <span class="tw-w-16 tw-h-16 bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 flex-shrink-0">
                        <img src="assets/images/icons/icon-phone-msg.png" alt="Phone Icon" class="group-hover-item-text-invert-white tw-duration-300">
                    </span>
                    <div class="">
                        <span class="text-body-11 tw-text-base">Call Us 7/24</span>
                        <h2 class="tw-text-xl  tw-mt-2">+208-555-0112</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="h-100 border border-neutral-200 tw-px-40-px tw-py-11 tw-rounded-20-px d-flex align-items-center tw-gap-5 group group-item">
                    <span class="tw-w-16 tw-h-16 bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 flex-shrink-0">
                        <img src="assets/images/icons/icon-location-circle.png" alt="Phone Icon" class="group-hover-item-text-invert-white tw-duration-300">
                    </span>
                    <div class="">
                        <span class="text-body-11 tw-text-base">Location</span>
                        <h2 class="tw-text-xl  tw-mt-2">Elgin St. Celina, NY 10299</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="h-100 border border-neutral-200 tw-px-40-px tw-py-11 tw-rounded-20-px d-flex align-items-center tw-gap-5 group group-item">
                    <span class="tw-w-16 tw-h-16 bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 flex-shrink-0">
                        <img src="assets/images/icons/icon-envelope-ad.png" alt="Phone Icon" class="group-hover-item-text-invert-white tw-duration-300">
                    </span>
                    <div class="">
                        <span class="text-body-11 tw-text-base">Make a Quote</span>
                        <h2 class="tw-text-xl  tw-mt-2">printop@gmail.com</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================== Contact section end ========================= -->