<!-- ========================== Contact section start ========================= -->
<section class="contact-section pt-120">
    <div class="container">
        <div class="section-heading tw-mb-10 text-center">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                CONTACT US
            </span>
            <h2 class="text-reveal fw-semibold tw-mt-4">Contact Us for Your Help</h2>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6">
                <div
                    class="h-100 border border-neutral-100 hover-border-neutral-600 tw-duration-300 tw-px-40-px tw-py-11 tw-rounded-20-px d-flex align-items-center tw-gap-5 group group-item">
                    <span
                        class="tw-w-16 tw-h-16 bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 flex-shrink-0">
                        <img src="assets/images/icons/icon-phone-msg.png" alt="Phone Icon"
                            class="group-hover-item-text-invert-white tw-duration-300">
                    </span>
                    <div class="">
                        <span class="text-body-11 tw-text-base">Call Us 7/24</span>
                        <h2 class="tw-text-xl  tw-mt-2">+208-555-0112</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div
                    class="h-100 border border-neutral-100 hover-border-neutral-600 tw-duration-300 tw-px-40-px tw-py-11 tw-rounded-20-px d-flex align-items-center tw-gap-5 group group-item">
                    <span
                        class="tw-w-16 tw-h-16 bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 flex-shrink-0">
                        <img src="assets/images/icons/icon-location-circle.png" alt="Phone Icon"
                            class="group-hover-item-text-invert-white tw-duration-300">
                    </span>
                    <div class="">
                        <span class="text-body-11 tw-text-base">Location</span>
                        <h2 class="tw-text-xl  tw-mt-2">Elgin St. Celina, NY 10299</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div
                    class="h-100 border border-neutral-100 hover-border-neutral-600 tw-duration-300 tw-px-40-px tw-py-11 tw-rounded-20-px d-flex align-items-center tw-gap-5 group group-item">
                    <span
                        class="tw-w-16 tw-h-16 bg-neutral-200 rounded-circle d-flex justify-content-center align-items-center group-hover-bg-main-two-600 tw-duration-300 flex-shrink-0">
                        <img src="assets/images/icons/icon-envelope-ad.png" alt="Phone Icon"
                            class="group-hover-item-text-invert-white tw-duration-300">
                    </span>
                    <div class="">
                        <span class="text-body-11 tw-text-base">Make a Quote</span>
                        <h2 class="tw-text-xl  tw-mt-2">printop@gmail.com</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="tw-mt-6">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="">
                        <form action="#"
                            class="bg-white border border-neutral-100 tw-py-10 tw-px-40-px tw-rounded-xl form-submit">
                            <h2 class="tw-mt-2 tw-pb-6 mb-0">Get In Touch</h2>
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <input type="text"
                                        class="border border-neutral-100 focus-border-main-600 tw-rounded-md tw-px-4 tw-py-305 w-100 focus-outline-0 text-body fw-medium"
                                        placeholder="Your Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email"
                                        class="border border-neutral-100 focus-border-main-600 tw-rounded-md tw-px-4 tw-py-305 w-100 focus-outline-0 text-body fw-medium"
                                        placeholder="Email Address">
                                </div>
                                <div class="col-sm-6">
                                    <input type="tel"
                                        class="border border-neutral-100 focus-border-main-600 tw-rounded-md tw-px-4 tw-py-305 w-100 focus-outline-0 text-body fw-medium"
                                        placeholder="Phone Number">
                                </div>
                                <div class="col-sm-6">
                                    <select
                                        class="border border-neutral-100 focus-border-main-600 tw-rounded-md tw-px-4 tw-py-305 w-100 focus-outline-0 text-body fw-medium">
                                        <option value="Select Subject">Select Subject</option>
                                        <option value="Select Subject 01">Select Subject 01</option>
                                        <option value="Select Subject 03">Select Subject 03</option>
                                        <option value="Select Subject 04">Select Subject 04</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <textarea
                                        class="border border-neutral-100 focus-border-main-600 tw-rounded-md tw-px-4 tw-py-305 w-100 focus-outline-0 text-body fw-medium tw-h-160-px"
                                        placeholder="Your comment"></textarea>
                                </div>
                                <div class="col-12">
                                    <div class="tw-mt-4">
                                        <button type="submit"
                                            class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-5"
                                            data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="button__label">Send Your Message</span>
                                            <span class="d-flex position-relative tw-text-xl">
                                                <span class="btn-down-arrow">
                                                    <i class="ph-bold ph-arrow-down-right"></i>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="google-map tw-rounded-xl overflow-hidden h-100">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233568.64797352217!2d-0.4772326898110708!3d51.55719972865199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e1!3m2!1sen!2sbd!4v1774847349925!5m2!1sen!2sbd"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                            class="w-100 h-100"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================== Contact section end ========================= -->