<!-- ================================ Counter home service section start ========================================= -->
<section class="counter-home-service py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-6 custom-fade-animation" data-delay=".6" data-fade-from="bottom"
                data-ease="bounce">
                <div class="group group-item">
                    <h2 class="h1 text-body counter tw-duration-300 group-hover-text-heading">584+</h2>
                    <span class="tw-mt-2 tw-text-lg">Invested in printing</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 custom-fade-animation" data-delay=".8" data-fade-from="bottom"
                data-ease="bounce">
                <div class="group group-item md-mt-30-px">
                    <h2 class="h1 text-body counter tw-duration-300 group-hover-text-heading">6M+</h2>
                    <span class="tw-mt-2 tw-text-lg">Items trusted to deliver</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 custom-fade-animation" data-delay="1" data-fade-from="bottom" data-ease="bounce">
                <div class="group group-item md-mt-60-px">
                    <h2 class="h1 text-body counter tw-duration-300 group-hover-text-heading">693+</h2>
                    <span class="tw-mt-2 tw-text-lg">Invested in printing</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 custom-fade-animation" data-delay="1.2" data-fade-from="bottom"
                data-ease="bounce">
                <div class="group group-item md-mt-90-px">
                    <h2 class="h1 text-body counter tw-duration-300 group-hover-text-heading">56%</h2>
                    <span class="tw-mt-2 tw-text-lg">Items trusted to deliver</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ Counter home service section end ========================================= -->