<!-- ========================== CTA New Contact start ============================= -->
<section class="contact-new-contact scale-littlebit-onscroll">
    <div class="container">
        <div class="d-flex justify-content-lg-center bg-primary-new border border-white tw-rounded-2xl tw-py-16 tw-px-10">
            <div class="d-flex align-items-lg-center tw-gap-62-px flex-lg-row flex-column">
                <div class="text-lg-end mb-lg-0 mb-3">
                    <span class="text-white h4 fw-normal">Get In Touch: </span>
                    <h2 class="tw-mt-2 text-sm-res-24-px">
                        <a href="mailto:demo@gmail.com" class="text-white hover-common-underline fw-medium">demo@gmail.com</a>
                    </h2>
                </div>
                <div class="tw-w-116-px tw-h-116-px bg-white-2 rounded-circle d-lg-flex d-none justify-content-center align-items-center tw-p-2 flex-shrink-0">
                    <span class="w-100 h-100 bg-white rounded-circle d-flex align-items-center justify-content-center text-primary-new fw-bold h3">
                        OR
                    </span>
                </div>
                <div class="text-start">
                    <span class="text-white h4 fw-normal">24/7 Support </span>
                    <h2 class="tw-mt-2 text-sm-res-24-px">
                        <a href="mailto:(209)555-0104" class="text-white hover-common-underline fw-medium">(209) 555-0104</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== CTA New Contact end ============================= -->