<!-- ============================ CTA New section start ================================ -->
<section class="cta-new section-bg">
    <div class="d-flex">

        <div class="cta-new-left">
            <div class="image-double-animation clip-animation overflow-hidden position-relative d-block">
                <img src="assets/images/thumbs/cta-new-img1.png" alt="Image" data-animate="true"
                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                <img src="assets/images/thumbs/cta-new-img1.png" alt="Image"
                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
            </div>
        </div>
        
        <div class="cta-new-right">
            <div class="">
                
            </div>

            <div class="d-flex">
                <div class="cta-content-left bg-white tw-p-60-px">
                    <div class="tw-pb-15 tw-mb-15 text-center border-bottom border-neutral-100">
                        <span class="d-inline-flex">
                            <img src="assets/images/icons/cta-new-icon1.png" alt="CTA Icon">
                        </span>
                        <h2 class="h4 tw-mt-9">Enjoy free shipping on all orders with no minimum required</h2>
                    </div>
                    <div class="tw-pb-15 tw-mb-15 text-center">
                        <span class="d-inline-flex">
                            <img src="assets/images/icons/cta-new-icon2.png" alt="CTA Icon">
                        </span>
                        <h2 class="h4 tw-mt-9">Secure Payments with fast, reliable, and easy processing</h2>
                    </div>
                </div>
                <div class="cta-content-right ">
                    <div class="image-double-animation clip-animation overflow-hidden position-relative d-block">
                        <img src="assets/images/thumbs/cta-new-img2.png" alt="Image" data-animate="true"
                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                        <img src="assets/images/thumbs/cta-new-img2.png" alt="Image"
                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ CTA New section end ================================ -->