<!-- ============================= Discount new section start ============================= -->
<section class="discount-new tw-py-12 bg-primary-new">
    <div class="container max-w-1840-px">
        <div class="d-flex align-items-center tw-gap-6 justify-content-between flex-wrap">
            <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                    data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                    <div class="d-flex align-items-center tw-gap-205">
                        <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                            <i class="ph-fill ph-check-circle"></i>
                        </span>
                        <span class="text-primary-new tw-text-lg text-res-14-px fw-semibold text-center">Who We
                            Are</span>
                    </div>
                    <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                    <span class="text-neutral-500 tw-text-lg text-res-14-px fw-normal text-center">About Our
                        Company</span>
                </div>
                <p class="text-white fw-normal tw-text-2xl">Save on printing, materials, and packaging in one place.</p>
                <a href="javascript:void(0)"
                    class="bg-white rounded-circle tw-w-13 tw-h-13 d-flex justify-content-center align-items-center tw-text-3xl text-primary-new hover-scale-2">
                    <i class="ph-bold ph-arrow-up-right animate__heartBeat"></i>
                </a>
            </div>

            <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                <span class="text-white fw-semibold tw-pe-2 d-lg-inline-flex d-none">DEAL ENDS IN :</span>
                <div class="d-flex align-items-center tw-gap-6 flex-wrap" id="countdown1">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span
                            class="tw-px-4 tw-h-11 bg-white tw-rounded-lg d-flex justify-content-center align-items-center text-heading fw-semibold tw-text-2xl"><span
                                class="hours">20</span> </span>
                        <span class="text-white fw-semibold">HOURS</span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span
                            class="tw-px-4 tw-h-11 bg-white tw-rounded-lg d-flex justify-content-center align-items-center text-heading fw-semibold tw-text-2xl"><span
                                class="minutes">36</span> </span>
                        <span class="text-white fw-semibold">MINUTES</span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span
                            class="tw-px-4 tw-h-11 bg-white tw-rounded-lg d-flex justify-content-center align-items-center text-heading fw-semibold tw-text-2xl"><span
                                class="seconds">56</span> </span>
                        <span class="text-white fw-semibold">SECONDS</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================= Discount new section end ============================= -->