<!-- ============================ Download app section start ================================== -->
<section class="download-app @@sectionClass">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-6 align-self-center">
                <div class="d-flex align-items-start tw-gap-5 flex-sm-row flex-column">
                    <div class="flex-shrink-0">
                        <img src="assets/images/thumbs/qr-code-img.png" alt="QR Code Image" class="">
                    </div>
                    <div class="">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            DOWNLOAD OUR APPS
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">Shop Faster with Printop Mobile App</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">Every thing you will need to receive fast, reliable
                            printing
                            services with high quality results.</p>
                        <div class="d-flex tw-mt-6 tw-gap-5 flex-sm-nowrap flex-wrap">
                            <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-main-two-600 hover-bg-animation hover-bg-animation-main-600">
                                    <span class="btn-text">Google Store </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-fill ph-google-play-logo"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="custom-fade-animation" data-delay=".7" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="shop.html"
                                    class="btn bg-transparent border border-main-two-600 text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600">
                                    <span class="btn-text">Apple Store </span>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-fill ph-apple-logo"></i>
                                    </span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-xl-block d-none">
                <div
                    class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                    <img src="assets/images/thumbs/download-app-img.png" alt="Image" data-animate="true"
                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                    <img src="assets/images/thumbs/download-app-img.png" alt="Image"
                        class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Download app section end ================================== -->