<!-- =========================== FAQ Section start ================================= -->
<section class="faq py-120 position-relative z-1">
    <div class="position-absolute w-100 h-100 z-n1">
        <img src="assets/images/thumbs/faq-bg-img.png" alt="FAQ Image" class="w-100 h-100 object-fit-cover">
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="">

                </div>
            </div>
            <div class="col-lg-7">
                <div class="tw-p-10 bg-white common-shadow-one tw-rounded-bottom-20-px">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            OUR FAQ'S
                        </span>
                        <h2 class="splitTextStyleOne fw-semibold tw-mt-4">Most Common Questions</h2>
                    </div>
                    <div class="accordion common-accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header h4">
                                <button class="accordion-button h4" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How are your T-shirts printed?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-body">This store is a demonstration of a luxury brand using the Stiletto Shopify theme. Products and imagery for this demo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header h4">
                                <button class="accordion-button h4 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is the best Print Shop material?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-body">This store is a demonstration of a luxury brand using the Stiletto Shopify theme. Products and imagery for this demo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header h4">
                                <button class="accordion-button h4 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What is the best T-shirt material?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-body">This store is a demonstration of a luxury brand using the Stiletto Shopify theme. Products and imagery for this demo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header h4">
                                <button class="accordion-button h4 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How long will my package take to arrive?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                   <p class="text-body">This store is a demonstration of a luxury brand using the Stiletto Shopify theme. Products and imagery for this demo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header h4">
                                <button class="accordion-button h4 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How are your design printed?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-body">This store is a demonstration of a luxury brand using the Stiletto Shopify theme. Products and imagery for this demo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== FAQ Section end ================================= -->