<!-- =========================== Features section of home service start ================================ -->
<section class="features-home-service py-120 fixed-content-wrapper">
    <div class="container">
        <div class="row gy-4 feature-wrapper">
            <div class="col-xl-6 pe-xl-5">
                <div class="">
                    <div class="section-heading fixed-content">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            OUR DEMAND PRODUCTS
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">Browse Our Unique Selection of High-Quality</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                            will need to receive fast, reliable printing services with high quality results.</p>
                        <div class="tw-mt-10 ">
                            <div class="custom-fade-animation tw-mt-10" data-delay=".6" data-fade-from="bottom"
                                data-ease="bounce">
                                <a href="contact.html"
                                    class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-two-600">
                                    <div class="btn-text">Get Started Now </div>
                                    <span class="btn-icon-animation d-flex">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="d-xl-block d-none">
                            <img src="assets/images/thumbs/features-home-service-img.png" alt="Image">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-6">
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div
                            class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100">
                            <span class="d-flex">
                                <img src="assets/images/icons/features-home-service-icon1.png" alt="Features Icon 1">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable
                                printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100 bg-neutral-100">
                            <span class="d-flex">
                                <img src="assets/images/icons/features-home-service-icon2.png" alt="Features Icon 2">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable
                                printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100 bg-neutral-100">
                            <span class="d-flex">
                                <img src="assets/images/icons/features-home-service-icon3.png" alt="Features Icon 3">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable
                                printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100">
                            <span class="d-flex">
                                <img src="assets/images/icons/features-home-service-icon4.png" alt="Features Icon 4">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable
                                printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100">
                            <span class="d-flex">
                                <img src="assets/images/icons/features-home-service-icon5.png" alt="Features Icon 5">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable
                                printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100 bg-neutral-100">
                            <span class="d-flex">
                                <img src="assets/images/icons/features-home-service-icon6.png" alt="Features Icon 6">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable
                                printing services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Features section of home service end ================================ -->