<!-- =========================== Features section of home service start ================================ -->
<section class="features-home-service py-120">
    <div class="container">
        <div class="row gy-4 feature-wrapper">
            <div class="col-xl-6">
                <div class="">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            OUR DEMAND PRODUCTS
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">Browse Our Unique Selection of High-Quality</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                    <div class="">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Get Started Now</span>
                            <span class="d-flex position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="d-xl-block d-none">
                        <img src="assets/images/thumbs/features-home-service-img.png" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100">
                            <span class="d-flex">   
                                <img src="assets/images/icons/features-home-service-icon1.png" alt="Features Icon 1">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100 bg-neutral-100">
                            <span class="d-flex">   
                                <img src="assets/images/icons/features-home-service-icon2.png" alt="Features Icon 2">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100 bg-neutral-100">
                            <span class="d-flex">   
                                <img src="assets/images/icons/features-home-service-icon3.png" alt="Features Icon 3">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100">
                            <span class="d-flex">   
                                <img src="assets/images/icons/features-home-service-icon4.png" alt="Features Icon 4">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100">
                            <span class="d-flex">   
                                <img src="assets/images/icons/features-home-service-icon5.png" alt="Features Icon 5">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable printing services.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tw-px-40-px tw-py-10 border border-neutral-100 tw-rounded-xl tw-duration-300 hover-bg-neutral-100 bg-neutral-100">
                            <span class="d-flex">   
                                <img src="assets/images/icons/features-home-service-icon6.png" alt="Features Icon 6">
                            </span>
                            <h2 class="tw-text-xl tw-mt-11 tw-mb-6">Easy Customize</h2>
                            <p class="text-body">Know-how and every thing you will need to receive fast, reliable printing services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Features section of home service end ================================ -->