<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-new position-relative z-1 mt-auto">
    <img src="assets/images/bg/gradient-bg.png" alt="Gradient BG"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">

    <div class="py-120">
        <div class="container container-two">
            <div class="row gy-5">
                <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="200">
                    <div class="">
                        <!-- Logo Start -->
                        <div class="logo">
                            <a href="index.html" class="link">
                                <img src="assets/images/logo/logo-new-white.png" alt="Logo" class="max-w-200-px">
                            </a>
                        </div>
                        <!-- Logo End  -->
                        <p class="tw-mt-6 text-neutral-300">The smartest platform to discover authentic influencers,
                            launch viral campaigns, and scale your brand's reach globally.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="300">
                    <div class="">
                        <h2 class="h4 fw-semibold text-white tw-mb-8">Quick Link</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">About
                                    Us</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Shipping
                                    FAQ</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Custom
                                    Products</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Our
                                    Blog</a>
                            </li>
                            <li class="mb-0">
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Become a
                                    Partner</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="400">
                    <div class="">
                        <h2 class="h4 fw-semibold text-white tw-mb-8">More Link</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Printing
                                    Services</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Digital
                                    Scanning</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Copying
                                    Services</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Design
                                    Services</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Print on
                                    Demand</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="500">
                    <div class="d-flex flex-column tw-gap-8">
                        <div class="">
                            <span class="text-white">Send Us Email</span>
                            <h2 class="h4 tw-mt-2">
                                <a href="mailto:demoinfo@gmail.com"
                                    class="text-white hover-common-underline fw-medium">demoinfo@gmail.com</a>
                            </h2>
                        </div>
                        <div class="">
                            <span class="text-white">Looking For Project</span>
                            <h2 class="h4 tw-mt-2">
                                <a href="tel:(302)555-0107" class="text-white hover-common-underline fw-medium">(302)
                                    555-0107</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="500">
                    <div class="">
                        <div class="">
                            <span class="text-white">Visit Our Location</span>
                            <h2 class="h4 tw-mt-2 text-white"> 1901 Thornridge Cir. Hawaii 54126 </h2>
                        </div>
                        <div class="tw-mt-8">
                            <ul class="d-flex align-items-center tw-gap-3 animation-item">
                                <li>
                                    <a href="https://www.facebook.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-fill ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-bold ph-twitter-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom Footer -->
    <div class="border-top border-neutral-200 tw-py-8 custom-fade-animation" data-delay=".6" data-fade-from="bottom"
        data-ease="bounce">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                <div class="mb-0">
                    <div class="">
                        <img src="assets/images/thumbs/payment-logos.png" alt="Payment Logos">
                    </div>
                </div>
                <p class="text-body-6 text-line-1 fw-normal">
                    &copy; 2026
                    <a href="index.html"
                        class="fw-semibold text-main-600 hover-common-underline hover-text-main-600">Printop</a>
                    All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->