<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-new position-relative z-1 mt-auto">
    <img src="assets/images/bg/gradient-bg.png" alt="Gradient BG"
        class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover z-n1">
    <img src="assets/images/shapes/testimonials-new-shape1.png"
        class="position-absolute tw-end-0 bottom-0 z-n1 d-md-block d-none tw-mb-12 tw-me-11 animation-rotate z-0" alt="Image">

    <div
        class="position-absolute tw-start-0 bottom-0 z-n1 d-md-block d-none tw-mb-16 tw-pb-14 tw-ms-15 tw-ps-6 animation-rotate-right z-0">
        <img src="assets/images/shapes/banner-element-img7.png" alt="Element Shape" class="animation-rotate-right">
    </div>

    <div class="py-120">
        <div class="container pb-120">
            <div class="border-bottom border-white-16 tw-pb-15">
                <div class="row gy-4">
                    <div class="col-xl-6">
                        <div class="">
                            <h2 class="fw-medium text-white text-reveal">Subscribe Our Newsletter to Get Our Latest
                                Update & News</h2>
                        </div>
                    </div>
                    <div class="col-xl-1 d-xl-block d-none">
                        <div class="">

                        </div>
                    </div>
                    <div class="col-xl-5">
                        <form action="#" class="position-relative">
                            <input type="text"
                                class="border border-white-16 tw-py-405 tw-ps-6 tw-pe-100-px bg-white-08 rounded-pill tw-placeholder-text-neutral-300 text-white focus-border-neutral-100 w-100"
                                placeholder="Email address">
                            <button type="submit"
                                class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-600 tw-ps-6 tw-pe-405 tw-py-3 flex-shrink-0 position-absolute tw-end-0 top-50 translate-middle-y tw-me-4">
                                <span class="btn-icon d-flex z-1">
                                    <span class="btn-icon-animation">
                                        <i class="ph-bold ph-paper-plane-tilt"></i>
                                    </span>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-two">
            <div class="footer-item-wrapper">
                <div class="" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="200">
                    <div class="">
                        <!-- Logo Start -->
                        <div class="logo">
                            <a href="index.html" class="link">
                                <img src="assets/images/logo/logo-new-white.png" alt="Logo" class="max-w-200-px">
                            </a>
                        </div>
                        <!-- Logo End  -->
                        <p class="tw-mt-6 text-neutral-300 max-w-250-px">The smartest platform to discover authentic influencers,
                            launch viral campaigns, and scale your brand's reach globally.</p>
                    </div>
                </div>
                <div class="" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="300">
                    <div class="">
                        <h2 class="h4 fw-semibold text-white tw-mb-8">Quick Link</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Home</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">About
                                    Us</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="text-neutral-300 hover-text-white hover-common-underline">Services</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Shop</a>
                            </li>
                            <li class="mb-0">
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="400">
                    <div class="">
                        <h2 class="h4 fw-semibold text-white tw-mb-8">More Link</h2>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">FAQs</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Privacy
                                    Policy</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">How It's
                                    Work</a>
                            </li>
                            <li>
                                <a href="#" class="text-neutral-300 hover-text-white hover-common-underline">Contact
                                    Us</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="text-neutral-300 hover-text-white hover-common-underline">Supports</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="500">
                    <div class="d-flex flex-column tw-gap-8">
                        <div class="">
                            <span class="text-white">Send Us Email</span>
                            <h2 class="h4 tw-mt-2">
                                <a href="mailto:demoinfo@gmail.com"
                                    class="text-white hover-common-underline fw-medium">demoinfo@gmail.com</a>
                            </h2>
                        </div>
                        <div class="">
                            <span class="text-white">Looking For Project</span>
                            <h2 class="h4 tw-mt-2">
                                <a href="tel:(302)555-0107" class="text-white hover-common-underline fw-medium">(302)
                                    555-0107</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="500">
                    <div class="">
                        <div class="">
                            <span class="text-white">Visit Our Location</span>
                            <h2 class="h4 tw-mt-2 text-white fw-medium tw-leading-155"> 1901 Thornridge Cir. Hawaii
                                54126 </h2>
                        </div>
                        <div class="tw-mt-8">
                            <ul class="d-flex align-items-center tw-gap-3 animation-item">
                                <li>
                                    <a href="https://www.facebook.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-fill ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com"
                                        class="tw-w-8 tw-h-8 rounded-circle border border-white-39 hover-bg-white hover-text-heading tw-text-base d-flex justify-content-center align-items-center text-white">
                                        <i class="ph-bold ph-twitter-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom Footer -->
    <div class="container">
        <div class="border-top border-white-16 tw-py-8 custom-fade-animation position-relative" data-delay=".6"
            data-fade-from="bottom" data-ease="bounce">
            <div class="position-absolute d-xl-block d-none start-50 translate-middle-x top-0 tw--mt-40-px z-1">
                <img src="assets/images/shapes/testimonials-new-shape3.png" class="animation-rotate-right" alt="Image">
            </div>
            <div class="">
                <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                    <p class="text-neutral-300 text-line-1 fw-normal">
                        Copyright &copy; 2026
                        <a href="index.html"
                            class="fw-semibold text-secondary-new hover-common-underline hover-text-white">Printop</a>.
                        All rights reserved.
                    </p>
                     <div class="mb-0">
                        <div class="">
                            <img src="assets/images/thumbs/payment-logos.png" alt="Payment Logos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->