<!-- =============================== Get Started Section start ================================== -->
<section class="get-started-new">
    <div class="container max-w-1620-px">
        <div
            class="tw-rounded-3xl border border-neutral-100 position-relative overflow-hidden z-1 section-bg-gradient-two pt-120">

            <img src="assets/images/shapes/boxed-shape.png" alt="Shape"
                class="position-absolute tw-start-0 top-0 z-n1 d-md-block d-none">
            <img src="assets/images/shapes/boxed-shape.png" alt="Shape"
                class="position-absolute tw-end-0 top-0 z-n1 d-md-block d-none">
            <img src="assets/images/shapes/curve-star-shape.png" alt="Shape"
                class="position-absolute tw-end-0 top-0 z-n1 d-md-block d-none tw-mt-17 tw-me-17">


            <div class="position-relative">
                <div class="container">
                    <div class="row flex-wrap-reverse">
                        <div class="col-lg-6">
                            <div class="get-started-product-box bg-white overflow-hidden tw-pt-10 border border-neutral-100">
                                <!-- Search start -->
                                <form action="#"
                                    class="max-w-580-px tw-mx-5 tw-mb-7 w-100 position-relative d-md-flex d-none mx-auto">
                                    <input type="text"
                                        class="tw-py-305 tw-ps-8 tw-pe-15 bg-neutral-50 border border-neutral-100 rounded-pill focus-outline-0 focus-border-main-600 w-100"
                                        placeholder="What are you looking for?">
                                    <button type="submit"
                                        class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-4 text-heading hover-text-main-600 tw-text-3xl d-flex">
                                        <i class="ph ph-magnifying-glass"></i>
                                    </button>
                                </form>
                                <!-- Search start -->
    
                                <div class="">
                                    <!-- Slider One start -->
                                     <div class="swiper get-started-product-slider-one tw-mb-305">
                                         <div class="swiper-wrapper transition-timing-linear">
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img1.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img2.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img3.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img4.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img5.png" alt="Image">
                                             </div>
                                         </div>
                                     </div>
                                    <!-- Slider One end -->
    
                                    <!-- Slider Two start -->
                                     <div class="swiper get-started-product-slider-two tw-mb-305">
                                         <div class="swiper-wrapper transition-timing-linear">
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img1.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img2.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img3.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img4.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img5.png" alt="Image">
                                             </div>
                                         </div>
                                     </div>
                                    <!-- Slider Two end -->
    
                                    <!-- Slider three start -->
                                     <div class="swiper get-started-product-slider-three tw-mb-305">
                                         <div class="swiper-wrapper transition-timing-linear">
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img1.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img2.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img3.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img4.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img5.png" alt="Image">
                                             </div>
                                         </div>
                                     </div>
                                    <!-- Slider three end -->
    
                                    <!-- Slider four start -->
                                     <div class="swiper get-started-product-slider-four tw-mb-305">
                                         <div class="swiper-wrapper transition-timing-linear">
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img1.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img2.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img3.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img4.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img5.png" alt="Image">
                                             </div>
                                         </div>
                                     </div>
                                    <!-- Slider four end -->
    
                                    <!-- Slider five start -->
                                     <div class="swiper get-started-product-slider-five tw-mb-305">
                                         <div class="swiper-wrapper transition-timing-linear">
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img1.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img2.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img3.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img4.png" alt="Image">
                                             </div>
                                             <div class="swiper-slide">
                                                 <img src="assets/images/thumbs/product-card-img5.png" alt="Image">
                                             </div>
                                         </div>
                                     </div>
                                    <!-- Slider five end -->
                                </div>
                                
                                
                                
                            </div>
                        </div>
    
                        <div class="col-lg-6">
                            <div class="">
                                <div class="tw-mb-15">
                                    <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                                        data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                                        <div class="d-flex align-items-center tw-gap-205">
                                            <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                                                <i class="ph-fill ph-check-circle"></i>
                                            </span>
                                            <span
                                                class="text-primary-new tw-text-lg text-res-14-px fw-semibold text-center">How
                                                It Works</span>
                                        </div>
                                        <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                                        <span
                                            class="text-neutral-500 tw-text-lg text-res-14-px fw-normal text-center">Simple
                                            Steps to Get Started</span>
                                    </div>
                                    <h2 class="fw-bold tw-mt-4 h1"> <span class="text-reveal d-inline">We Make Printing
                                            Easy, Quick And Reliable
                                    </h2>
                                </div>
    
                                <div class="d-flex flex-column tw-gap-74-px">
                                    <div class="get-started-item border-bottom border-neutral-100 tw-pb-48-px">
                                        <div
                                            class="d-flex align-items-center tw-gap-6 bg-white tw-p-4 tw-rounded-xl animation-item">
                                            <span
                                                class="tw-w-88-px tw-h-88-px bg-primary-new tw-rounded-xl d-flex justify-content-center align-items-center">
                                                <img src="assets/images/icons/get-started-icon1.png" alt="Icon"
                                                    class="animate__heartBeat">
                                            </span>
                                            <h2 class="h3 text-capitalize">Select Your Design</h2>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-74-px tw-mt-8">
                                            <span class="d-flex">
                                                <i class="ph-bold ph-caret-right"></i>
                                            </span>
                                            <p class="text-neutral-500">Select your design or share your requirements with
                                                us. Whether you have a ready file or just an idea.</p>
                                        </div>
                                    </div>
                                    <div class="get-started-item border-bottom border-neutral-100 tw-pb-48-px">
                                        <div
                                            class="d-flex align-items-center tw-gap-6 bg-white tw-p-4 tw-rounded-xl animation-item">
                                            <span
                                                class="tw-w-88-px tw-h-88-px bg-primary-new tw-rounded-xl d-flex justify-content-center align-items-center">
                                                <img src="assets/images/icons/get-started-icon2.png" alt="Icon"
                                                    class="animate__heartBeat">
                                            </span>
                                            <h2 class="h3 text-capitalize">Select Your Design</h2>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-74-px tw-mt-8">
                                            <span class="d-flex">
                                                <i class="ph-bold ph-caret-right"></i>
                                            </span>
                                            <p class="text-neutral-500">Select your design or share your requirements with
                                                us. Whether you have a ready file or just an idea.</p>
                                        </div>
                                    </div>
                                    <div class="get-started-item border-bottom border-neutral-100 tw-pb-48-px">
                                        <div
                                            class="d-flex align-items-center tw-gap-6 bg-white tw-p-4 tw-rounded-xl animation-item">
                                            <span
                                                class="tw-w-88-px tw-h-88-px bg-primary-new tw-rounded-xl d-flex justify-content-center align-items-center">
                                                <img src="assets/images/icons/get-started-icon3.png" alt="Icon"
                                                    class="animate__heartBeat">
                                            </span>
                                            <h2 class="h3 text-capitalize">Select Your Design</h2>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-74-px tw-mt-8">
                                            <span class="d-flex">
                                                <i class="ph-bold ph-caret-right"></i>
                                            </span>
                                            <p class="text-neutral-500">Select your design or share your requirements with
                                                us. Whether you have a ready file or just an idea.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- =============================== Get Started Section end ================================== -->