<!-- =============================== Get Started Section start ================================== -->
<section class="get-started-new">
    <div class="container max-w-1620-px">
        <div
            class="tw-rounded-3xl border border-neutral-100 pt-120 position-relative overflow-hidden z-1 section-bg-gradient-two">

            <img src="assets/images/shapes/boxed-shape.png" alt="Shape"
                class="position-absolute tw-start-0 top-0 z-n1 d-md-block d-none">
            <img src="assets/images/shapes/boxed-shape.png" alt="Shape"
                class="position-absolute tw-end-0 top-0 z-n1 d-md-block d-none">
            <img src="assets/images/shapes/curve-star-shape.png" alt="Shape"
                class="position-absolute tw-end-0 top-0 z-n1 d-md-block d-none tw-mt-17 tw-me-17">


            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="">
                            <div class="tw-mb-15">
                                <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                                    data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                                            <i class="ph-fill ph-check-circle"></i>
                                        </span>
                                        <span
                                            class="text-primary-new tw-text-lg text-res-14-px fw-semibold text-center">How
                                            It Works</span>
                                    </div>
                                    <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                                    <span
                                        class="text-neutral-500 tw-text-lg text-res-14-px fw-normal text-center">Simple
                                        Steps to Get Started</span>
                                </div>
                                <h2 class="fw-bold tw-mt-4 h1"> <span class="text-reveal d-inline">We Make Printing
                                        Easy, Quick And Reliable
                                </h2>
                            </div>

                            <div class="">
                                <div class="">
                                    <div class="d-flex align-items-center tw-gap-6 bg-white tw-p-4 tw-rounded-xl">
                                        <span
                                            class="tw-w-88-px tw-h-88-px bg-primary-new tw-rounded-xl d-flex justify-content-center align-items-center">
                                            <img src="assets/images/icons/get-started-icon1.png" alt="Icon" class="">
                                        </span>
                                        <h2 class="h3 text-capitalize">Select Your Design</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- =============================== Get Started Section end ================================== -->