<!-- =============================== Graphics section start ================================ -->
<section class="graphics @@sectionClass">
    <div class="container">
        <div class="row gy-4 align-items-center flex-wrap-reverse">
            <div class="col-lg-7">
                <div class="pe-xl-5" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="300">
                    <img src="assets/images/thumbs/graphics-img.png" alt="Graphics Image">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            FREE GRAPHICS TOOLS
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4">50,000+ free images icons, & graphics</h2>
                        <p class="tw-mt-6 text-body tw-text-lg">We have all the equipment, know-how and every thing you
                            will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                    <div class="">
                        <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                            <a href="contact.html"
                                class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-two-600">
                                <div class="btn-text">Get Started Now </div>
                                <span class="btn-icon-animation">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="tw-pt-100-px d-flex align-items-center tw-gap-130-px">
                        <div class="custom-fade-animation" data-delay=".6" data-fade-from="left" data-ease="bounce">
                            <h2 class="h1 counter">584+</h2>
                            <span class="tw-text-lg">Invested in printing</span>
                        </div>
                        <div class="custom-fade-animation" data-delay=".7" data-fade-from="right" data-ease="bounce">
                            <h2 class="h1 counter">6M+</h2>
                            <span class="tw-text-lg">Items trusted to deliver</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Graphics section end ================================ -->