<!-- ==================== Header Two Start Here ==================== -->
<header class="header sticky-bg-white tw-transition-all tw-z-99 tw-py-5">
    <div class="container max-w-1720-px">
        <nav class="d-flex align-items-center justify-content-between position-relative tw-gap-8">

            @@include('../partials/_search-box.html')

            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none min-w-max">
                @@include('../partials/_nav-menu-two.html', { "class" : "tw-gap-40-px" })
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="d-flex align-items-center tw-gap-4">
                <div class="d-flex align-items-center gap-sm-3 gap-2">
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center justify-content-center gap-4 tw-text-3xl text-heading tw-leading-none position-relative hover-text-main-600 hover--translate-y-1 active--translate-y-scale-9 tw-me-4">
                        <i class="ph ph-heart-straight"></i>
                        <span
                            class="tw-w-6 tw-h-6 d-flex align-items-center justify-content-center rounded-circle bg-main-600 text-white tw-text-xs position-absolute top-0 tw-end-0 tw--me-16-px tw--mt-10-px">0</span>
                    </a>
                    <a href="cart.html"
                        class="d-flex align-items-center justify-content-center gap-4 tw-text-3xl text-heading tw-leading-none position-relative hover-text-main-600 hover--translate-y-1 active--translate-y-scale-9 tw-me-4">
                        <i class="ph ph-shopping-cart"></i>
                        <span
                            class="tw-w-6 tw-h-6 d-flex align-items-center justify-content-center rounded-circle bg-main-600 text-white tw-text-xs position-absolute top-0 tw-end-0 tw--me-16-px tw--mt-10-px">0</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center justify-content-center gap-4 tw-text-3xl text-heading tw-leading-none position-relative hover-text-main-600 hover--translate-y-1 active--translate-y-scale-9">
                        <i class="ph ph-user"></i>
                    </a>
                </div>
                <button type="button" class="toggle-mobileMenu leading-none d-lg-none d-flex text-neutral-800 tw-text-9">
                    <i class="ph ph-list"></i>
                </button>
            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header Two End Here ==================== -->