<!-- ============================== header new start ============================ -->
<header class="header bg-white border-bottom border-neutral-100 py-0">
    <div class="container max-w-1760-px">
        <div class="d-flex justify-content-between position-relative align-items-center">
            <div class="d-flex tw-gap-7 align-items-center">
                <div class="flex-shrink-0">
                    <button type="button"
                        class="category-button d-flex align-items-center tw-gap-3 text-heading hover-text-main-600 bg-white tw-px-5 tw-py-405 tw-transition-all fw-medium tw-text-base border-start border-end border-neutral-100">
                        <span class="tw-text-lg tw-leading-none d-xl-flex d-none"><i
                                class="ph-bold ph-squares-four"></i></span>
                        <span class="">Browse Categories</span>
                        <span class="tw-leading-none icon tw-transition-all"><i
                                class="ph-bold ph-caret-down"></i></span>
                    </button>

                    <!-- Dropdown Start -->
                    <div
                        class="category-dropdown border border-neutral-100 bg-white w-100 position-absolute inset-block-start-100 inset-inline-start-0 tw-z-99 tw-duration-300 max-w-420-px active">
                        <div class="d-grid grid-cols-3-repeat tw-gap-1 tw-max-h-350-px overflow-y-auto">
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Business Cards</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Brochures & Flyers</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Posters & Banners</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Pull Up Banners</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Labels & Stikers</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Marketing Cards</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Fridge Calendars</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Fridge Magnets</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Presentation Folders</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Booklets-A6, DL, A5 & A4</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Magazines</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                            <a href="shop.html" class="tw-py-305 tw-px-6 d-flex align-items-center justify-content-between text-neutral-500 hover-bg-neutral-50 hover-text-heading fw-semibold border-bottom border-neutral-100 hover-scale-099">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="d-flex tw-text-lg">
                                        <i class="ph ph-arrow-right"></i>
                                    </span>
                                    <span class="fw-medium">Invoice & receipt book</span>
                                </div>
                                <span class="d-flex">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- Dropdown End -->
                </div>
                <div class="">
                    <div class="header-menu d-lg-block d-none">
                        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
                    </div>
                </div>
            </div>
            <div class="d-lg-flex d-none align-items-center tw-gap-6">
                <a href="javascript:void(0)" class="text-neutral-600 hover-common-underline hover-text-heading">Refund
                    Policy</a>
                <a href="javascript:void(0)" class="text-neutral-600 hover-common-underline hover-text-heading">Support
                    & FAQs</a>
            </div>

            <button type="button" class="toggle-mobileMenu leading-none d-lg-none d-flex text-neutral-800 tw-text-9">
                <i class="ph ph-list"></i>
            </button>

        </div>
    </div>
</header>
<!-- ============================== header new end ============================ -->