<!-- ============================== Instagram post section start ================================ -->
<section class="instagram-post pt-120">
        <div class="position-relative lg-pt-100-px">
            <h2 class="text-body-10 tw-leading-none text-uppercase text-center text-160-px position-absolute top-0 start-50 translate-middle-x d-lg-block d-none min-w-max">INSTAGRAM POST</h2>

            <div class="swiper product-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img1.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img2.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img3.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img4.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img5.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img6.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-unset d-flex">
                        <div class="d-flex align-items-end">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                        data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                        data-speedin="1" data-speedout="1">
                                        <img src="assets/images/thumbs/instagram-post-img3.png" alt="About Image">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ============================== Instagram post section end ================================ -->