<!-- ============================== Instagram post section start ================================ -->
<section class="instagram-post pt-120 px-md-0 px-3">
    <div class="position-relative lg-pt-100-px">
        <h2
            class="animated-title text-hover-animation-scale text-heading tw-leading-none text-uppercase text-center text-160-px position-absolute top-0 start-50 translate-middle-x d-lg-block d-none min-w-max">
            <span class="text-reveal">INSTAGRAM POST</span>
        </h2>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img1.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img4.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img4.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img5.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img5.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img6.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img6.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                <img src="assets/images/thumbs/instagram-post-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/instagram-post-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Instagram post section end ================================ -->