<!-- Marquee section start -->
<section class="@@sectionClass">
    <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="h1 text-heading hover-text-heading tw-duration-200 text-uppercase">
                <span class="text-reveal text-hover-animation-scale">Top Quality</span>
            </h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon"
                class="animation-rotate group-hover-item-text-invert-black">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h5 class="h1 text-heading hover-text-heading tw-duration-200 text-uppercase">
                <span class="text-reveal text-hover-animation-scale">100% Quality</span>
            </h5>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon"
                class="animation-rotate group-hover-item-text-invert-black">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h5 class="h1 text-heading hover-text-heading tw-duration-200 text-uppercase">
                <span class="text-reveal text-hover-animation-scale">Free Delivery</span>
            </h5>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon"
                class="animation-rotate group-hover-item-text-invert-black">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h5 class="h1 text-heading hover-text-heading tw-duration-200 text-uppercase">
                <span class="text-reveal text-hover-animation-scale">Happy Client</span>
            </h5>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon"
                class="animation-rotate group-hover-item-text-invert-black">
        </div>
    </div>
</section>
<!-- Marquee section end -->