<!-- Marquee section start -->
<section class="@@sectionClass">
    <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
        <div class="d-flex align-items-center tw-gap-10">
            <h2 class="text-hover-animation-scale h1 text-body-1 hover-text-heading tw-duration-200 text-uppercase">Top Quality</h2>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon" class="animation-rotate group-hover-item-text-invert-black">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h5 class="text-hover-animation-scale h1 text-body-1 hover-text-heading tw-duration-200 text-uppercase">100% Quality</h5>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon" class="animation-rotate group-hover-item-text-invert-black">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h5 class="text-hover-animation-scale h1 text-body-1 hover-text-heading tw-duration-200 text-uppercase">Free Delivery</h5>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon" class="animation-rotate group-hover-item-text-invert-black">
        </div>
        <div class="d-flex align-items-center tw-gap-10">
            <h5 class="text-hover-animation-scale h1 text-body-1 hover-text-heading tw-duration-200 text-uppercase">Happy Client</h5>
        </div>
        <div class="d-flex align-items-center tw-gap-10 group group-item">
            <img src="assets/images/icons/four-leaf.png" alt="Leaf Icon" class="animation-rotate group-hover-item-text-invert-black">
        </div>
    </div>
</section>
<!-- Marquee section end -->