<!-- =========================== Pricing Plan section start =============================== -->
<section class="pricing-plan py-120">
    <div class="container">
        <div class="section-heading tw-mb-15 text-center">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                about Printop
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">Our Flexible Pricing Plan</h2>
            <p class="tw-mt-6 text-body tw-text-lg max-w-650-px mx-auto">We have all the equipment, know-how and every
                thing you
                will need to receive fast, reliable printing services with high quality results.</p>
        </div>

        <div class="row gy-4 align-items-center">
            <div class="col-xl-4 col-md-6">
                <div
                    class="pricing-plan-item border border-neutral-600 tw-rounded-3xl tw-duration-300 hover-border-main-600 overflow-hidden">
                    <div class="tw-px-40-px tw-py-9 ">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <div class="">
                                <span class="text-main-600 fw-medium">POPULAR PRICING</span>
                                <h2 class="h1 d-flex tw-gap-2 tw-mt-2">29.99 <span
                                        class="text-34-px fw-semibold">$</span> </h2>
                            </div>
                            <span class="">
                                <img src="assets/images/icons/pricing-emoji1.png" alt="Emoji Icon">
                            </span>
                        </div>
                        <p class="text-body-6 tw-mb-6 tw-mt-4 tw-text-lg max-w-230-px">Your better half deserves the
                            very
                            best.</p>
                        <a href="shop.html"
                            class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium w-100"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Start A Project</span>
                            <span class="d-flex position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                        <div class="d-flex flex-column tw-gap-5 tw-mt-705">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Full access to all features</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Mix and match colors, sizes, &
                                    designs</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Fast and free standard shipping</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Customer happiness guarantee</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Use on unlimited projects</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div
                    class="pricing-plan-item border border-main-600 tw-rounded-3xl tw-duration-300 hover-border-main-600 overflow-hidden border-5">
                    <span class="bg-main-600 tw-py-3 text-center text-white tw-text-lg w-100">25% Off now!</span>
                    <div class="tw-px-40-px tw-py-9 ">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <div class="">
                                <span class="text-main-600 fw-medium">POPULAR PRICING</span>
                                <h2 class="h1 d-flex tw-gap-2 tw-mt-2">59.99 <span
                                        class="text-34-px fw-semibold">$</span> </h2>
                            </div>
                            <span class="">
                                <img src="assets/images/icons/pricing-emoji2.png" alt="Emoji Icon">
                            </span>
                        </div>
                        <p class="text-body-6 tw-mb-6 tw-mt-4 tw-text-lg max-w-230-px">Your better half deserves the
                            very
                            best.</p>
                        <a href="shop.html"
                            class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium w-100"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Start A Project</span>
                            <span class="d-flex position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                        <div class="d-flex flex-column tw-gap-5 tw-mt-705">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Full access to all features</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Mix and match colors, sizes, &
                                    designs</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Fast and free standard shipping</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Customer happiness guarantee</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Use on unlimited projects</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">No credit card required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div
                    class="pricing-plan-item border border-neutral-600 tw-rounded-3xl tw-duration-300 hover-border-main-600 overflow-hidden">
                    <div class="tw-px-40-px tw-py-9 ">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <div class="">
                                <span class="text-main-600 fw-medium">POPULAR PRICING</span>
                                <h2 class="h1 d-flex tw-gap-2 tw-mt-2">99.99 <span
                                        class="text-34-px fw-semibold">$</span> </h2>
                            </div>
                            <span class="">
                                <img src="assets/images/icons/pricing-emoji3.png" alt="Emoji Icon">
                            </span>
                        </div>
                        <p class="text-body-6 tw-mb-6 tw-mt-4 tw-text-lg max-w-230-px">Your better half deserves the
                            very
                            best.</p>
                        <a href="shop.html"
                            class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium w-100"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Start A Project</span>
                            <span class="d-flex position-relative tw-text-xl">
                                <span class="btn-down-arrow">
                                    <i class="ph-bold ph-arrow-down-right"></i>
                                </span>
                            </span>
                        </a>
                        <div class="d-flex flex-column tw-gap-5 tw-mt-705">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Full access to all features</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Mix and match colors, sizes, &
                                    designs</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Fast and free standard shipping</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Customer happiness guarantee</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span
                                    class="tw-w-7 tw-h-7 tw-rounded-md bg-white text-main-600 d-flex align-items-center justify-content-center shadow-sm">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                                <span class="tw-text-lg text-body-6 tw-text-lg-6">Use on unlimited projects</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Pricing Plan section end =============================== -->