<!-- ======================= Product section start ============================= -->
<section class="product py-120">
    <div class="container">
        <div class="section-heading tw-mb-10">
            <span
                class="border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                <i class="ph ph-arrow-right"></i>
                TOP CATEGORIES
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">Shop Product Range</h2>
            <p class="tw-mt-6 text-body tw-text-lg">Get your business logo into more hands, from personalized labels and
                stickers to brand.</p>
        </div>
    </div>

    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img1.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Ice Cream Bag</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img2.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Coffee Cup &
                                Mog</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img3.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Chips Bag</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img4.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Shopping Bag</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img5.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Tissue</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img6.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Mailers</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-inline-flex align-items-end">
                    <div class="">
                        <a href="team-details-light.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-lg overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/product-img3.png" alt="About Image">
                            </div>
                        </a>
                        <div class="tw-mt-6">
                            <a href="shop.html" class="text-body-7 hover-text-main-600 fw-semibold h4">Chips Bag</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Product section end ============================= -->