<!-- ========================== Promo Banner home service section start =============================== -->
<section class="promo-banner-home-service py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="tw-rounded-20-px bg-neutral-100 promo-banner-service-bg-one tw-p-60-px">
                    <div class="max-w-250-px">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            about Printop
                        </span>
                        <h2 class="text-34-px tw-mt-4 tw-mb-5 fw-semibold">T-Shirt Printing Made Easy.</h2>
                        <div class="d-flex align-items-center tw-gap-3">
                            <h2 class="fw-semibold text-body tw-text-lg">$29.00</h2>
                            <h2 class="fw-semibold text-main-600 h3">$49.00</h2>
                        </div>
                        <div class="tw-mt-6">
                            <a href="shop.html"
                                class="btn btn-main-two-outline hover-style-one button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-white fw-medium"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Shop Now</span>
                                <span class="d-lg-flex d-none position-relative tw-text-xl">
                                    <span class="btn-down-arrow">
                                        <i class="ph-bold ph-arrow-down-right"></i>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="">
                        <img src="assets/images/thumbs/promo-banner-service1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Promo Banner home service section end =============================== -->