<!-- ================================== Product Range section start =================================== -->
<section class="product-range py-120 bg-main-two-600 position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            Shop product range
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4 text-white">Enjoy up Your Vacations in the Best Mugs</h2>
                        <p class="tw-mt-6 text-white tw-text-lg max-w-580-px">We have all the equipment, know-how and every thing you will need to receive fast, reliable printing services with high quality results.</p>
                    </div>
                    <a href="contact.html"
                        class="btn btn-main hover-style-three button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-3 group fw-normal tw-text-base tw-px-705 rounded-pill tw-py-4 hover-text-heading"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Start A Project</span>
                        <span class="d-flex position-relative tw-text-xl">
                            <span class="btn-down-arrow">   
                                <i class="ph-bold ph-arrow-down-right"></i>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 d-xl-block d-none">
                <div class="position-absolute tw-start-45-percent top-50 translate-middle-y">
                    <img src="assets/images/thumbs/product-range-img.png" alt="Image" class="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== Product Range section end =================================== -->