<!-- ========================= promo banner section start ============================ -->
<section class="promo-banner">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="tw-py-12 tw-ps-40-px">
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= promo banner section end ============================ -->