<!-- ========================== Product Category section start ================================= -->
<section class="product-category py-120 px-md-0 px-3">
    <div class="container max-w-1752-px">
        <div class="section-heading tw-mb-10 text-center max-w-790-px mx-auto">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                OUR DEMAND PRODUCTS
            </span>
            <h2 class="text-reveal fw-semibold tw-mt-4">All the Tools You Need to Build Your Brand by Printing</h2>
        </div>
    </div>

    <div class="position-relative">
        <div class="swiper product-category-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img1.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Chips
                                        Bag</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Hand
                                        Mug</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Paper
                                        Mug</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img4.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img4.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Postal
                                        Packaging</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img5.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img5.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Chips
                                        Bag</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img2.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Hand
                                        Mug</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                        <div class="w-100">
                            <a href="shop.html"
                                class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-20-px">
                                <img src="assets/images/thumbs/product-demand-img3.png" alt="Image" data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/product-demand-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item z-1">
                                <a href="shop.html"
                                    class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                    <span
                                        class="fw-semibold text-heading h4 group-hover-text-white tw-duration-300">Paper
                                        Mug</span>
                                    <span class="fw-semibold text-heading tw-text-2xl">
                                        <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                            class="group-hover-item-text-invert-white tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination product-slider-pagination style-one position-relative tw-mt-10 bottom-0">
            </div>
        </div>
    </div>
</section>
<!-- ========================== Product Category section end ================================= -->