<!-- ================================== Product Range section start =================================== -->
<section class="product-range py-120 bg-main-two-600 position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="">
                    <div class="section-heading tw-mb-10">
                        <span
                            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none">
                            <i class="ph-fill ph-caret-double-right"></i>
                            Shop product range
                        </span>
                        <h2 class="text-reveal fw-semibold tw-mt-4 text-white">Enjoy up Your Vacations in the Best Mugs
                        </h2>
                        <p class="tw-mt-6 text-white tw-text-lg max-w-580-px">We have all the equipment, know-how and
                            every thing you will need to receive fast, reliable printing services with high quality
                            results.</p>
                    </div>
                    <div class="custom-fade-animation" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                        <a href="contact.html"
                            class="btn bg-main-600 hover-bg-animation hover-bg-animation-white hover-text-heading">
                            <div class="btn-text">Start A Project </div>
                            <span class="btn-icon-animation d-flex">
                                <i class="ph-bold ph-arrow-down-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-xl-block d-none">
                <div class="position-absolute tw-start-45-percent top-50 translate-middle-y">
                    <img src="assets/images/thumbs/product-range-img.png" alt="Image" class="">
                    <div class="product-range-image position-absolute z-1 ">
                        <img src="assets/images/shapes/cursor-shape.png" alt="Image" class="move-on-cursor-hover"
                            data-value="10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== Product Range section end =================================== -->