<!-- ========================== Product Category section start ================================= -->
<section class="product-category py-120 px-md-0 px-3">
    <div class="container max-w-1752-px">
        <div class="section-heading tw-mb-10 text-center max-w-790-px mx-auto">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                OUR DEMAND PRODUCTS
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">All the Tools You Need to Build Your Brand by Printing</h2>
        </div>
    </div>

    <div class="position-relative">
        <div class="swiper product-category-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img1.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Chips
                                            Bag</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img2.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Hand
                                            Mug</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img3.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Paper
                                            Mug</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img4.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Postal
                                            Packaging</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img5.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Chips
                                            Bag</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img2.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Hand
                                            Mug</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-unset d-flex">
                    <div class="d-flex align-items-end w-100">
                        <div class="w-100">
                            <a href="shop.html" class="tp--hover-item position-relative d-block">
                                <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                    data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6"
                                    data-speedin="1" data-speedout="1">
                                    <img src="assets/images/thumbs/product-demand-img3.png" alt="About Image"
                                        class="w-100 object-fit-cover hover-scale-108 tw-duration-300">
                                </div>
                                <div class="position-absolute bottom-0 tw-start-0 tw-p-5 w-100 group group-item">
                                    <div
                                        class="bg-white tw-rounded-xl tw-px-6 tw-py-4 d-flex align-items-center justify-content-between group-hover-bg-main-600 tw-duration-300">
                                        <span
                                            class="fw-medium text-heading tw-text-2xl group-hover-text-white tw-duration-300">Paper
                                            Mug</span>
                                        <span class="fw-semibold text-heading tw-text-2xl">
                                            <img src="assets/images/icons/nativigation-arrow.png" alt="Arrow"
                                                class="group-hover-item-text-invert-white tw-duration-300">
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination product-slider-pagination style-one position-relative tw-mt-10 bottom-0"></div>
        </div>
    </div>
</section>
<!-- ========================== Product Category section end ================================= -->