<!-- ============================= products industry section start ================================= -->
<section class="products-industry-section section-bg py-120">
    <div class="container">
        <div class="">
            <div class="tw-pb-15">
                <h2 class="display-5 fw-bold">Products by industry</h2>
            </div>
            <div class="row g-3">
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-rocket"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Most
                                Popular Items</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-credit-card"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Business
                                Cards</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-chart-pie-slice"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">New
                                Business</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-megaphone"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Advertising
                                & Marketing</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-office-chair"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Office
                                & Stationary</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-users"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">
                                Signs</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-screencast"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">
                                Banners</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-sticker"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Labels
                                & Stickers</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-buildings"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Real
                                Estate</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-chart-line-up"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">
                                Tradie</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-fork-knife"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Hotel
                                & Restaurants</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-lightning"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">
                                Promotional</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-dress"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">Personal
                                Products</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-apple-logo"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">
                                Installations</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div
                        class="bg-white tw-py-305 tw-px-6 tw-rounded-xl border border-neutral-100 d-flex align-items-center tw-gap-505 group group-item tw-duration-300 hover-bg-primary-new justify-content-between h-100">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span
                                class="category-sidebar-btn__text d-flex text-primary-new tw-duration-300 tw-text-3xl group-hover-text-white">
                                <i class="ph ph-watch"></i>
                            </span>
                            <span
                                class="category-sidebar-btn__icon text-neutral-600 fw-medium tw-duration-300 text-start group-hover-text-white tw-text-lg">
                                Accessories</span>
                        </div>
                        <div class="">
                            <a href="shop-details-new.html" class="text-primary-new tw-duration-300 tw-text-2xl group-hover-text-white d-flex hover-scale-108">
                                <i class="ph ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= products industry section end ================================= -->