<!-- ======================== Service new section start =============================== -->
<section class="service-new py-120">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-md-nowrap flex-wrap tw-gap-6">
            <div class="max-w-650-px">
                <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                    data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                    <div class="d-flex align-items-center tw-gap-205">
                        <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                            <i class="ph-fill ph-check-circle"></i>
                        </span>
                        <span class="text-primary-new tw-text-lg text-res-14-px fw-semibold text-center">Our
                            Services</span>
                    </div>
                    <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                    <span class="text-neutral-500 tw-text-lg text-res-14-px fw-normal text-center">Creative Printing
                        Solutions</span>
                </div>
                <h2 class="fw-bold tw-mt-4 h1"> <span class="text-reveal d-inline">High-Quality Services With
                        Fast </span> <span class="text-gradient-main text-decoration-underline">Delivery</span>
                </h2>
            </div>
            <div class="max-w-400-px d-flex flex-column tw-gap-8">
                <p class="text-neutral-500 text-end">We offer a wide range of professional printing services designed to
                    meet the needs of businesses and individuals maximum impact.</p>
                <div class=" d-flex justify-content-end">
                    <div class="custom-fade-animation" data-delay=".7" data-fade-from="bottom" data-ease="bounce">
                        <a href="contact.html"
                            class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-600 tw-ps-2 tw-pe-6 tw-py-3 py-sm-2">
                            <span
                                class="btn-icon-animation d-flex align-items-center justify-content-center z-1 tw-w-9 tw-h-9 bg-white rounded-circle">
                                <i class="ph-bold ph-arrow-right text-gradient-main"></i>
                            </span>
                            <span class="btn-text">See All Services</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Service new section end =============================== -->