<!-- ========================= Shop new section start ============================= -->
<section class="shop-new-section py-120">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="border border-neutral-100 bg-neutral-50 tw-rounded-20-px tw-p-6">
                    <h2 class="fw-semibold">Filter</h2>
                    <span class="w-100 d-block tw-my-8 border-bottom border-neutral-100"></span>
                    <form action="#" class="max-w-580-px w-100 position-relative d-md-flex d-none mx-auto">
                        <input type="text"
                            class="tw-py-305 tw-ps-8 tw-pe-15 bg-white border border-neutral-100 rounded-pill focus-outline-0 focus-border-main-600 w-100"
                            placeholder="Search here...">
                        <button type="submit"
                            class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-4 text-heading hover-text-main-600 tw-text-3xl d-flex">
                            <i class="ph ph-magnifying-glass"></i>
                        </button>
                    </form>
                    <div class="tw-mt-8">
                        <h2 class="h4 tw-mb-4 text-neutral-600 fw-semibold">Select a Category</h2>
                        <div class="d-flex flex-column tw-gap-3">
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Most Popular Items</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Business Cards</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">New Business</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Advertising & Marketing</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Office & Stationary</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Signs</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">MostPopularItems</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Banners</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Labels & Stickers</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Real Estate</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Tradie</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Hotel & Restaurants</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Promotional</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Personal Products</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Installations</span>
                            </button>
                            <button type="button" class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span class="d-flex text-primary-new group-hover-text-white tw-duration-300">
                                    <i class="ph ph-arrow-right"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Accessories</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="">
                    <div class="d-flex align-items-center justify-content-between tw-gap-48-px tw-mb-10">
                        <span class="text-neutral-600 tw-text-lg">Showing 08 of 600 results</span>
                        <select
                            class="form-control form-select border border-neutral-100 focus-border-main-600 rounded-pill tw-ps-4 tw-pe-10 tw-py-2 w-auto focus-outline-0 text-body fw-medium shadow-none">
                            <option value="Default Shorting">Default Shorting</option>
                            <option value="Date Published">Date Published</option>
                            <option value="Best Match">Best Match</option>
                            <option value="Date Updated">Date Updated</option>
                            <option value="Title">Title</option>
                            <option value="Category">Category</option>
                            <option value="Rating">Rating</option>
                            <option value="Sales">Sales</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Shop new section end ============================= -->