<!-- ============================== Shop details new section start ================================== -->
<section class="shop-details-new py-120">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="swiper shop-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden">
                                <img src="assets/images/thumbs/shop-details-thumb1.png" alt="Thumb">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden">
                                <img src="assets/images/thumbs/shop-details-thumb2.png" alt="Thumb">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden">
                                <img src="assets/images/thumbs/shop-details-thumb3.png" alt="Thumb">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden">
                                <img src="assets/images/thumbs/shop-details-thumb4.png" alt="Thumb">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden">
                                <img src="assets/images/thumbs/shop-details-thumb2.png" alt="Thumb">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper shop-small-thumbs tw-mt-8">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide h-100">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden tw-h-150-px">
                                <img src="assets/images/thumbs/shop-details-small-thumb1.png" alt="Small Thumb"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                        <div class="swiper-slide h-100">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden tw-h-150-px">
                                <img src="assets/images/thumbs/shop-details-small-thumb2.png" alt="Small Thumb"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                        <div class="swiper-slide h-100">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden tw-h-150-px">
                                <img src="assets/images/thumbs/shop-details-small-thumb3.png" alt="Small Thumb"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                        <div class="swiper-slide h-100">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden tw-h-150-px">
                                <img src="assets/images/thumbs/shop-details-small-thumb4.png" alt="Small Thumb"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                        <div class="swiper-slide h-100">
                            <div
                                class="border border-neutral-200 tw-rounded-2xl d-flex align-items-center justify-content-center overflow-hidden tw-h-150-px">
                                <img src="assets/images/thumbs/shop-details-small-thumb2.png" alt="Small Thumb"
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="bg-neutral-50 border border-neutral-100 tw-p-8 tw-rounded-2xl">
                    <h2 class="tw-pb-8 tw-mb-8 border-bottom border-neutral-100 h3">Select product specifications</h2>
                    <form action="#" class="d-flex flex-column tw-gap-6">
                        <!-- Stock -->
                        <div class="">
                            <label for="stock" class="tw-text-lg fw-semibold text-heading tw-mb-3">Stock</label>
                            <select id="stock"
                                class="border border-neutral-100 bg-white rounded-pill tw-py-205 tw-px-7 form-select shadow-none focus-border-primary-new">
                                <option value="150 gsm">150 gsm</option>
                                <option value="170 gsm">170 gsm</option>
                                <option value="200 gsm">200 gsm</option>
                                <option value="250 gsm">250 gsm</option>
                                <option value="300 gsm">300 gsm</option>
                                <option value="350 gsm">350 gsm</option>
                                <option value="400 gsm">400 gsm</option>
                            </select>
                        </div>

                        <!-- Size -->
                        <div class="">
                            <label for="size" class="tw-text-lg fw-semibold text-heading tw-mb-3">Size</label>
                            <select id="size"
                                class="border border-neutral-100 bg-white rounded-pill tw-py-205 tw-px-7 form-select shadow-none focus-border-primary-new">
                                <option value="A5">A5</option>
                                <option value="A4">A4</option>
                                <option value="A3">A3</option>
                                <option value="A2">A2</option>
                                <option value="Letter">Letter</option>
                                <option value="Legal">Legal</option>
                            </select>
                        </div>

                        <!-- Print Side -->
                        <div class="">
                            <label for="printSide" class="tw-text-lg fw-semibold text-heading tw-mb-3">Print
                                Side</label>
                            <select id="printSide"
                                class="border border-neutral-100 bg-white rounded-pill tw-py-205 tw-px-7 form-select shadow-none focus-border-primary-new">
                                <option value="Single Side">Single Side</option>
                                <option value="Double Side">Double Side</option>
                            </select>
                        </div>

                        <!-- Quantity -->
                        <div class="">
                            <label for="quantity" class="tw-text-lg fw-semibold text-heading tw-mb-3">Quantity</label>
                            <select id="quantity"
                                class="border border-neutral-100 bg-white rounded-pill tw-py-205 tw-px-7 form-select shadow-none focus-border-primary-new">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                    </form>
                    <div class="tw-my-8">
                        <h2 class="h5 fw-semibold tw-mb-2">Estimated Total Amount : <span
                                class="text-danger">$125</span> inc GST</h2>
                        <p class="text-neutral-500 tw-leading-155 max-w-580-px">If you are looking for a different size,
                            quantity or more info on this product please contact us. Turnaround time will be confirmed
                            via email/phone.</p>
                    </div>
                    <div class="tw-mt-8">
                        <div class="">
                            <a href="javascript:void(0)"
                                class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-600 bg-primary-new text-white tw-py-3 tw-px-6 rounded-pill fw-semibold">
                                <span class="btn-text">Next </span>
                            </a>
                        </div>
                        <button type="button"
                            class="tw-py-3 tw-px-6 bg-white border border-neutral-100 rounded-pill d-flex align-items-center tw-gap-2 w-100 tw-mt-2 justify-content-center hover-bg-neutral-100 hover-scale-102 tw-duration-300">
                            <span class="d-flex text-primary-new tw-text-2xl">
                                <i class="ph ph-info"></i>
                            </span>
                            <span class="fw-semibold text-heading">Download Design Guidelines</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tw-mt-15">
            <div class="">
                <ul class="nav active-btn-main-primary nav-pills tw-mb-11 tw-gap-3 d-inline-flex flex-wrap bg-transparent tw-rounded-xl tw-p-2 border border-neutral-100 rounded-pill"
                    id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link tw-px-6 tw-py-205 bg-transparent text-primary-new fw-medium text-capitalize rounded-pill active"
                            id="pills-ProductDetails-tab" data-bs-toggle="pill" data-bs-target="#pills-ProductDetails"
                            type="button" role="tab" aria-controls="pills-ProductDetails"
                            aria-selected="true">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link tw-px-6 tw-py-205 bg-transparent text-primary-new fw-medium text-capitalize rounded-pill"
                            id="pills-additionalInformation-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-additionalInformation" type="button" role="tab"
                            aria-controls="pills-additionalInformation" aria-selected="false">Additional
                            Information</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link tw-px-6 tw-py-205 bg-transparent text-primary-new fw-medium text-capitalize rounded-pill"
                            id="pills-Review-tab" data-bs-toggle="pill" data-bs-target="#pills-Review" type="button"
                            role="tab" aria-controls="pills-Review" aria-selected="false">Reviews</button>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-ProductDetails" role="tabpanel"
                        aria-labelledby="pills-ProductDetails-tab" tabindex="0">
                        <div class="">
                            <div class="">
                                <ul class="list-disc tw-ps-5 tw-pb-5">
                                    <li class="">Includes a carry bag</li>
                                    <li class="">Silver color hardware stand</li>
                                    <li class="">Easy to travel</li>
                                    <li class="">Printed with UV ink</li>
                                    <li class="">Block out polypropylene with minimal curl</li>
                                    <li class="">Your choice of base color - either a stylish silver, or a bold black</li>
                                    <li class="">Available in 3 width options (850mm wide, 1200mm Wide, 1500mm wide)</li>
                                    <li class="">Approx. Weight: 3.5 kg</li>
                                </ul>
                                <p class="text-body tw-text-lg tw-mb-5">Battery life for days. When you're on the second day of a backpacking trip, the final leg of a triathlon, or diving along a coral reef, the last thing you want to think about is running out of battery. With longer battery life than ever, you can take on almost anything and have energy to spare.</p>
                                <p class="text-body tw-text-lg tw-mb-5">Find strength in numbers. Making progress as an athlete requires accurate data and insights. The Workout app provides metrics and views that give you all the information you need to be and beat your best. The larger display lets you see up to six metrics at once.</p>
                                <p class="text-body tw-text-lg tw-mb-5">Find strength in numbers. Making progress as an athlete requires accurate data and insights. The Workout app provides metrics and views that give you all the information you need to be and beat your best. The larger display lets you see up to six metrics at once.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-additionalInformation" role="tabpanel"
                        aria-labelledby="pills-additionalInformation-tab" tabindex="0">
                        <div class="">
                            <div class="">
                                <p class="text-body tw-text-lg tw-mb-8">Battery life for days. When you're on the second
                                    day of a backpacking trip, the final leg of a triathlon, or diving along a coral
                                    reef,
                                    the last thing you want to think about is running out of battery. With longer
                                    battery
                                    life than ever, you can take on almost anything and have energy to spare.</p>
                                <p class="text-body tw-text-lg tw-mb-8">Find strength in numbers. Making progress as an
                                    athlete requires accurate data and insights. The Workout app provides metrics and
                                    views
                                    that give you all the information you need to be and beat your best. The larger
                                    display
                                    lets you see up to six metrics at once.</p>
                                <p class="text-body tw-text-lg tw-mb-8">Battery life for days. When you're on the second
                                    day of a backpacking trip, the final leg of a triathlon, or diving along a coral
                                    reef,
                                    the last thing you want to think about is running out of battery. With longer
                                    battery
                                    life than ever, you can take on almost anything and have energy to spare.</p>
                                <p class="text-body tw-text-lg tw-mb-0">Find strength in numbers. Making progress as an
                                    athlete requires accurate data and insights. The Workout app provides metrics and
                                    views
                                    that give you all the information you need to be and beat your best. The larger
                                    display 
                                    lets you see up to six metrics at once..</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-Review" role="tabpanel" aria-labelledby="pills-Review-tab"
                        tabindex="0">
                        <div class="">
                            <div class="">
                                <p class="text-body tw-text-lg tw-mb-8">Battery life for days. When you're on the second
                                    day of a backpacking trip, the final leg of a triathlon, or diving along a coral
                                    reef,
                                    the last thing you want to think about is running out of battery. With longer
                                    battery
                                    life than ever, you can take on almost anything and have energy to spare.</p>
                                <p class="text-body tw-text-lg tw-mb-8">Find strength in numbers. Making progress as an
                                    athlete requires accurate data and insights. The Workout app provides metrics and
                                    views
                                    that give you all the information you need to be and beat your best. The larger
                                    display
                                    lets you see up to six metrics at once.</p>
                                <p class="text-body tw-text-lg tw-mb-8">Battery life for days. When you're on the second
                                    day of a backpacking trip, the final leg of a triathlon, or diving along a coral
                                    reef,
                                    the last thing you want to think about is running out of battery. With longer
                                    battery
                                    life than ever, you can take on almost anything and have energy to spare.</p>
                                <p class="text-body tw-text-lg tw-mb-0">Find strength in numbers. Making progress as an
                                    athlete requires accurate data and insights. The Workout app provides metrics and
                                    views
                                    that give you all the information you need to be and beat your best. The larger
                                    display
                                    lets you see up to six metrics at once..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Shop details new section end ================================== -->