<!-- ========================= Shop new section start ============================= -->
<section class="shop-new-section py-120">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="border border-neutral-100 bg-neutral-50 tw-rounded-20-px tw-p-6">
                    <h2 class="fw-semibold">Filter</h2>
                    <span class="w-100 d-block tw-my-8 border-bottom border-neutral-100"></span>
                    <form action="#" class="max-w-580-px w-100 position-relative d-md-flex d-none mx-auto">
                        <input type="text"
                            class="tw-py-305 tw-ps-8 tw-pe-15 bg-white border border-neutral-100 rounded-pill focus-outline-0 focus-border-main-600 w-100"
                            placeholder="Search here...">
                        <button type="submit"
                            class="position-absolute tw-end-0 top-50 translate-middle-y tw-me-4 text-heading hover-text-main-600 tw-text-3xl d-flex">
                            <i class="ph ph-magnifying-glass"></i>
                        </button>
                    </form>
                    <div class="tw-mt-8">
                        <h2 class="h4 tw-mb-4 text-neutral-600 fw-semibold">Select a Category</h2>
                        <div class="d-flex flex-column tw-gap-3">
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-rocket"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Most
                                    Popular Items</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-credit-card"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Business
                                    Cards</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-chart-pie-slice"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">New
                                    Business</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-megaphone"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Advertising
                                    & Marketing</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-office-chair"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Office &
                                    Stationary</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-users"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Signs</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-screencast"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Banners</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-sticker"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Labels &
                                    Stickers</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-buildings"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Real
                                    Estate</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-chart-line-up"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Tradie</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-fork-knife"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Hotel &
                                    Restaurants</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-lightning"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Promotional</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-dress"></i>
                                </span>
                                <span class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Personal
                                    Products</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-apple-logo"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Installations</span>
                            </button>
                            <button type="button"
                                class="bg-white tw-py-305 tw-px-6 rounded-pill d-flex align-items-center tw-gap-3 group group-item common-shadow-one tw-duration-300 hover-bg-primary-new">
                                <span
                                    class="d-flex text-primary-new group-hover-text-white tw-duration-300 tw-text-2xl">
                                    <i class="ph-fill ph-watch"></i>
                                </span>
                                <span
                                    class="text-neutral-600 fw-medium group-hover-text-white tw-duration-300">Accessories</span>
                            </button>
                        </div>
                        <a href="shop.html"
                            class="text-primary-new fw-semibold d-inline-flex align-items-center tw-gap-205 group-item text-decoration-none hover-common-underline tw-mt-5">
                            <span class="">See All Categories</span>
                            <span class="group-hover-item-rotate-45-deg tw-duration-300">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <h2 class="h4 tw-mb-4 text-neutral-600 fw-semibold">Pricing Scale</h2>
                        <!-- Slider start -->
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                            <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                        </div>
                        <div class="tw-mt-6 d-flex align-items-center justify-content-center">
                            <div class="price-input d-flex align-items-center tw-gap-1">
                                <div class="field">
                                    <input type="number"
                                        class="border-0 focus-outline-0 tw-w-11 text-neutral-600 bg-transparent input-min"
                                        value="2500">
                                </div>
                                <span class="">-</span>
                                <div class="field">
                                    <input type="number"
                                        class="border-0 focus-outline-0 tw-w-11 text-neutral-600 bg-transparent input-max"
                                        value="7500">
                                </div>
                            </div>
                        </div>
                        <!-- Slider End -->
                    </div>
                    <div class="tw-mt-8">
                        <h2 class="h4 tw-mb-4 text-neutral-600 fw-semibold">Review</h2>
                        <div class="d-flex flex-column tw-gap-4">
                            <div class="form-check common-check tw-gap-3 ps-0 justify-content-between mb-0">
                                <div class="d-flex align-items-center tw-gap-3 flex-grow-1">
                                    <input class="form-check-input flex-shrink-0 tw-w-5 tw-h-5 rounded-circle"
                                        type="checkbox" id="starFive">
                                    <label class="form-check-label flex-grow-1" for="starFive">
                                        <span class="d-flex align-items-center tw-gap-205">
                                            <span class="text-star text-warning tw-text-2xl d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="text-neutral-600 tw-text-base">5 Star</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="text-neutral-500 flex-shrink-0">122</span>
                            </div>
                            <div class="form-check common-check tw-gap-3 ps-0 justify-content-between mb-0">
                                <div class="d-flex align-items-center tw-gap-3 flex-grow-1">
                                    <input class="form-check-input flex-shrink-0 tw-w-5 tw-h-5 rounded-circle"
                                        type="checkbox" id="starFour">
                                    <label class="form-check-label flex-grow-1" for="starFour">
                                        <span class="d-flex align-items-center tw-gap-205">
                                            <span class="text-star text-warning tw-text-2xl d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="text-neutral-600 tw-text-base">4 Star</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="text-neutral-500 flex-shrink-0">356</span>
                            </div>
                            <div class="form-check common-check tw-gap-3 ps-0 justify-content-between mb-0">
                                <div class="d-flex align-items-center tw-gap-3 flex-grow-1">
                                    <input class="form-check-input flex-shrink-0 tw-w-5 tw-h-5 rounded-circle"
                                        type="checkbox" id="starThree">
                                    <label class="form-check-label flex-grow-1" for="starThree">
                                        <span class="d-flex align-items-center tw-gap-205">
                                            <span class="text-star text-warning tw-text-2xl d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="text-neutral-600 tw-text-base">3 Star</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="text-neutral-500 flex-shrink-0">964</span>
                            </div>
                            <div class="form-check common-check tw-gap-3 ps-0 justify-content-between mb-0">
                                <div class="d-flex align-items-center tw-gap-3 flex-grow-1">
                                    <input class="form-check-input flex-shrink-0 tw-w-5 tw-h-5 rounded-circle"
                                        type="checkbox" id="starTwo">
                                    <label class="form-check-label flex-grow-1" for="starTwo">
                                        <span class="d-flex align-items-center tw-gap-205">
                                            <span class="text-star text-warning tw-text-2xl d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="text-neutral-600 tw-text-base">2 Star</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="text-neutral-500 flex-shrink-0">654</span>
                            </div>
                            <div class="form-check common-check tw-gap-3 ps-0 justify-content-between mb-0">
                                <div class="d-flex align-items-center tw-gap-3 flex-grow-1">
                                    <input class="form-check-input flex-shrink-0 tw-w-5 tw-h-5 rounded-circle"
                                        type="checkbox" id="starOne">
                                    <label class="form-check-label flex-grow-1" for="starOne">
                                        <span class="d-flex align-items-center tw-gap-205">
                                            <span class="text-star text-warning tw-text-2xl d-flex">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                            <span class="text-neutral-600 tw-text-base">1 Star</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="text-neutral-500 flex-shrink-0">65</span>
                            </div>
                        </div>
                    </div>
                    <span class="w-100 d-block tw-my-8 border-bottom border-neutral-100"></span>
                    <div class="custom-fade-animation" data-delay=".9" data-fade-from="bottom" data-ease="bounce">
                        <button type="button"
                            class="btn bg-transparent border border-primary-new text-main-two-600 hover-bg-animation hover-bg-animation-main-two-600 tw-ps-2 tw-pe-6 tw-py-3 py-sm-2 hover-icon-white hover-animate-text-white w-100 justify-content-between">
                            <span
                                class="btn-icon-animation d-sm-flex d-none align-items-center justify-content-center z-1 tw-w-9 tw-h-9 bg-main-600 rounded-circle">
                                <i class="ph-bold ph-arrow-clockwise text-white"></i>
                            </span>
                            <span class="btn-text text-gradient-main flex-grow-1">
                                Get In Touch
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="">
                    <div class="d-flex align-items-center justify-content-between tw-gap-48-px tw-mb-10">
                        <span class="text-neutral-600 tw-text-lg">Showing 08 of 600 results</span>
                        <select
                            class="form-control form-select border border-neutral-100 focus-border-main-600 rounded-pill tw-ps-4 tw-pe-10 tw-py-2 w-auto focus-outline-0 text-body fw-medium shadow-none">
                            <option value="Default Shorting">Default Shorting</option>
                            <option value="Date Published">Date Published</option>
                            <option value="Best Match">Best Match</option>
                            <option value="Date Updated">Date Updated</option>
                            <option value="Title">Title</option>
                            <option value="Category">Category</option>
                            <option value="Rating">Rating</option>
                            <option value="Sales">Sales</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Shop new section end ============================= -->