<!-- =============================== Shop product home demand section start ============================= -->
<section class="shop-product py-120">
    <div class="container">
        <div class="section-heading tw-mb-10 text-center max-w-730-px mx-auto">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                shop product range
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">All the Tools You Need to Build Your Brand by Printing
            </h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="shop-product-item">
                    <a href="service-details.html"
                        class="tp--hover-item position-relative d-block rounded-circle overflow-hidden">
                        <div class="tp--hover-img rounded-circle overflow-hidden aspect-ratio-1"
                            data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                            data-speedout="1">
                            <img src="assets/images/thumbs/shop-product-img1.png" alt="Product Image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x tw-mb-12 min-w-max tw-px-2">
                            <span
                                class="bg-white tw-py-3 tw-px-6 bg-white shadow rounded-pill fw-semibold tw-text-lg text-heading hover-bg-main-two-600 hover-text-white tw-duration-300">Shop
                                Accessories</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="shop-product-item">
                    <a href="service-details.html"
                        class="tp--hover-item position-relative d-block tw-rounded-2xl overflow-hidden">
                        <div class="tp--hover-img tw-rounded-2xl overflow-hidden"
                            data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                            data-speedout="1">
                            <img src="assets/images/thumbs/shop-product-img2.png" alt="Product Image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x tw-mb-12 min-w-max tw-px-2">
                            <span
                                class="bg-white tw-py-3 tw-px-6 bg-white shadow rounded-pill fw-semibold tw-text-lg text-heading hover-bg-main-two-600 hover-text-white tw-duration-300">Shop
                                Apparel</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="shop-product-item">
                    <a href="service-details.html"
                        class="tp--hover-item position-relative d-block rounded-circle overflow-hidden">
                        <div class="tp--hover-img rounded-circle overflow-hidden aspect-ratio-1"
                            data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                            data-speedout="1">
                            <img src="assets/images/thumbs/shop-product-img3.png" alt="Product Image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x tw-mb-12 min-w-max tw-px-2">
                            <span
                                class="bg-white tw-py-3 tw-px-6 bg-white shadow rounded-pill fw-semibold tw-text-lg text-heading hover-bg-main-two-600 hover-text-white tw-duration-300">Shop
                                Packaging</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="shop-product-item">
                    <a href="service-details.html"
                        class="tp--hover-item position-relative d-block tw-rounded-2xl overflow-hidden">
                        <div class="tp--hover-img tw-rounded-2xl overflow-hidden"
                            data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                            data-speedout="1">
                            <img src="assets/images/thumbs/shop-product-img4.png" alt="Product Image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x tw-mb-12 min-w-max tw-px-2">
                            <span
                                class="bg-white tw-py-3 tw-px-6 bg-white shadow rounded-pill fw-semibold tw-text-lg text-heading hover-bg-main-two-600 hover-text-white tw-duration-300">Shop
                                Deals</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="shop-product-item">
                    <a href="service-details.html"
                        class="tp--hover-item position-relative d-block rounded-circle overflow-hidden">
                        <div class="tp--hover-img rounded-circle overflow-hidden aspect-ratio-1"
                            data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                            data-speedout="1">
                            <img src="assets/images/thumbs/shop-product-img5.png" alt="Product Image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x tw-mb-12 min-w-max tw-px-2">
                            <span
                                class="bg-white tw-py-3 tw-px-6 bg-white shadow rounded-pill fw-semibold tw-text-lg text-heading hover-bg-main-two-600 hover-text-white tw-duration-300">Shop
                                Home & Living</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="shop-product-item">
                    <a href="service-details.html"
                        class="tp--hover-item position-relative d-block tw-rounded-2xl overflow-hidden">
                        <div class="tp--hover-img tw-rounded-2xl overflow-hidden"
                            data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                            data-speedout="1">
                            <img src="assets/images/thumbs/shop-product-img6.png" alt="Product Image">
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x tw-mb-12 min-w-max tw-px-2">
                            <span
                                class="bg-white tw-py-3 tw-px-6 bg-white shadow rounded-pill fw-semibold tw-text-lg text-heading hover-bg-main-two-600 hover-text-white tw-duration-300">Shop
                                Stationary</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Shop product home demand section end ============================= -->