<div class="">
    <button type="button"
        class="tw-rounded-top-20-px bg-main-600 w-100 d-flex align-items-center justify-content-between text-white tw-px-6 tw-py-305">
        <span class="d-flex align-items-center tw-gap-4">
            <span class="tw-text-2xl d-flex">
                <i class="ph ph-list"></i>
            </span>
            <span class="fw-bold">Shop Categories</span>
        </span>
        <span class="">
            <i class="ph-bold ph-caret-down"></i>
        </span>
    </button>
    <ul class="position-relative">
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon1.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Business Cards</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Business Cards</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Business
                            card item 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Business
                            card item 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Business
                            card item 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Business
                            card item 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Business
                            card item 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Business
                            card item 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon2.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Brochures & Flyers</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Brochures & Flyers</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Brochures
                            & Flyers 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Brochures
                            & Flyers 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Brochures
                            & Flyers 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Brochures
                            & Flyers 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Brochures
                            & Flyers 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Brochures
                            & Flyers 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon3.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Posters & Banners</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Posters & Banners</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Posters
                            & Banners 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Posters
                            & Banners 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Posters
                            & Banners 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Posters
                            & Banners 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Posters
                            & Banners 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Posters
                            & Banners 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon4.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Real Estate</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Real Estate</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Real
                            Estate 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Real
                            Estate 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Real
                            Estate 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Real
                            Estate 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Real
                            Estate 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Real
                            Estate 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon5.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Labels & Stickers</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Labels & Stickers</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Labels
                            & Stickers 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Labels
                            & Stickers 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Labels
                            & Stickers 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Labels
                            & Stickers 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Labels
                            & Stickers 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Labels
                            & Stickers 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon6.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Tradie</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Tradie</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Tradie
                            1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Tradie
                            2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Tradie
                            3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Tradie
                            4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Tradie
                            5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Tradie
                            6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon7.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Fridge Calendars</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Fridge Calendars</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Calendars 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Calendars 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Calendars 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Calendars 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Calendars 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Calendars 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon8.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Fridge Magnets</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Fridge Magnets</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Magnets 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Magnets 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Magnets 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Magnets 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Magnets 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Fridge
                            Magnets 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon9.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Presentation Folders</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Presentation Folders</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Presentation
                            Folders 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Presentation
                            Folders 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Presentation
                            Folders 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Presentation
                            Folders 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Presentation
                            Folders 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Presentation
                            Folders 6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon10.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Signs</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Signs</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Signs
                            1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Signs
                            2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Signs
                            3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Signs
                            4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Signs
                            5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Signs
                            6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon11.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Magazines</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Magazines</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Magazines
                            1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Magazines
                            2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Magazines
                            3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Magazines
                            4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Magazines
                            5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Magazines
                            6</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-list-item group group-item hover-bg-white">
            <a href="javascript:void(0)"
                class="d-flex align-items-center justify-content-between text-heading hover-text-heading hover-scale-099 tw-px-6 tw-py-405 group text-capitalize hover-bg-white tw-duration-100">
                <span class="d-flex align-items-center tw-gap-4">
                    <span class="">
                        <img src="assets/images/icons/sidebar-icon12.png" alt="Icon">
                    </span>
                    <span class="fw-bold">Office & Stationary</span>
                </span>
                <span class="text-neutral-400 group-hover-text-heading">
                    <i class="ph-bold ph-caret-right"></i>
                </span>
            </a>
            <div
                class="sidebar-dropdown-menu tw-p-4 tw-rounded-xl bg-white shadow position-absolute top-0 start-100 w-100 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 h-100 tw-mt-4">
                <h2 class="tw-text-xl text-capitalize tw-ps-4 tw-mb-4 font-body">Office & Stationary</h2>
                <ul class="">
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Office
                            & Stationary 1</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Office
                            & Stationary 2</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Office
                            & Stationary 3</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Office
                            & Stationary 4</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Office
                            & Stationary 5</a>
                    </li>
                    <li>
                        <a href="shop.html"
                            class="text-heading fw-semibold tw-text-base hover-bg-main-600 hover-text-white tw-py-305 tw-px-4 tw-rounded-xl w-100 tw-duration-100 text-capitalize">Office
                            & Stationary 6</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>