<!-- ============================= Team page  start ================================== -->
<section class="team pt-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-item tw-px-4 border border-neutral-200 tw-rounded-xl">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl">Jonathan Bean</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Team page  end ================================== -->