<!-- ============================= Team page  start ================================== -->
<section class="team pt-120">
    <div class="container max-w-1620-px">
        <div class="row gy-4">
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">Jonathan Bean</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">Mike Fermalin</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">Amena Mariam</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">Sarah Morgan</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img4.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">John Stokes</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img5.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">Brandan Markram</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img6.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">David Mariam</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img7.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="team-item tw-p-4 border border-neutral-200 tw-rounded-xl on-hover-item">
                    <div class="text-center tw-mb-8 tw-mt-5">
                        <h2 class="tw-text-2xl tw-mb-2">Sarah William</h2>
                        <span class="text-body-11">Web Developer</span>
                    </div>
                    <div class="position-relative overflow-hidden">
                        <a href="team-details.html" class="tp--hover-item position-relative d-block">
                            <div class="tp--hover-img tw-rounded-xl overflow-hidden"
                                data-displacement="assets/images/shapes/fluid.jpg" data-intensity="0.6" data-speedin="1"
                                data-speedout="1">
                                <img src="assets/images/thumbs/team-img8.png" alt="Image" class="w-100 h-100 object-fit-cover">
                            </div>
                        </a>
                        <ul
                            class="on-hover-animation-item d-flex align-items-center justify-content-center tw-gap-205 position-absolute bottom-0 start-50 translate-middle-x min-w-max tw-mb-705">
                            <li class="tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.dribbble.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-dribbble-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.instagram.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                            <li class="tw-duration-300">
                                <a href="https://www.twitter.com"
                                    class="tw-w-11 tw-h-11 rounded-circle bg-white border border-white hover-bg-main-two-600 hover-border-main-two-600 hover-text-white tw-text-xl d-flex justify-content-center align-items-center text-heading">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Team page  end ================================== -->