<!DOCTYPE html>
<html lang="en" class="pageClass">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
    content="Printop is a clean and professional Printing HTML Template designed for print shops, custom printing businesses, and design agencies. Fully responsive, SEO-friendly, and easy to customize.">
  <meta name="keywords"
    content="print shop template, printing service website, custom printing HTML, print business template, packaging printing, large format printing, print design agency, printing company website">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>Printop - Modern Printing & Print Shop HTML Template</title>
  <!-- Favicon -->
  <link rel="icon" href="assets/images/logo/favicon.png" type="image/png">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- aos -->
  <link rel="stylesheet" href="assets/css/aos.css">
  <!-- Swiper -->
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <!-- Main css -->
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="tp-magic-cursor">
  <!--==================== Preloader Start ====================-->
   <!-- <div class="preloader">
        <div class="preloader__text text-white animated-title text-hover-animation-scale">Printop</div>
        <div class="preloader__overlay">
            <div class="block block-1"></div>
            <div class="block block-2"></div>
            <div class="block block-3"></div>
            <div class="block block-4"></div>
            <div class="block block-5"></div>
            <div class="block block-6"></div>
            <div class="block block-7"></div>
            <div class="block block-8"></div>
            <div class="block block-9"></div>
            <div class="block block-10"></div>
            <div class="block block-11"></div>
            <div class="block block-12"></div>
            <div class="block block-13"></div>
            <div class="block block-14"></div>
            <div class="block block-15"></div>
            <div class="block block-16"></div>
            <div class="block block-17"></div>
            <div class="block block-18"></div>
            <div class="block block-19"></div>
            <div class="block block-20"></div>
        </div>
    </div> -->
  <!--==================== Preloader End ====================-->

  @@include('../partials/_settings-panel.html')

  <!--==================== Overlay Start ====================-->
  <div class="overlay"></div>
  <!--==================== Overlay End ====================-->

  <!--==================== Sidebar Overlay End ====================-->
  <div class="side-overlay"></div>
  <!--==================== Sidebar Overlay End ====================-->

  <!-- Custom Toast Message start -->
  <div id="toast-container"></div>
  <!-- Custom Toast Message End -->

  <!-- ==================== Scroll to Top End Here ==================== -->
  <div class="progress-wrap cursor-big">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- ==================== Scroll to Top End Here ==================== -->

  <!-- Custom Cursor Start -->
  <div class="cursor"></div>
  <span class="dot"></span>
  <!-- Custom Cursor End -->

  <!-- custom-cursor start -->
  <div id="magic-cursor" class="cursor-white-bg">
    <div id="ball"></div>
  </div>
  <!-- custom-cursor end -->

  <!-- ==================== bottom blur shadow start Here ==================== -->
  <div class="blur-bottom-shadow tw-duration-300"></div>
  <!-- ==================== bottom blur shadow End Here ==================== -->


  @@include('../partials/_mobile-menu.html')