<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- phosphor Js -->
<script src="assets/js/phosphor-icon.js"></script>
<!-- Bootstrap Bundle Js -->
<script src="assets/js/boostrap.bundle.min.js"></script>


<!-- gsap plugin -->
<script src="assets/js/gsap-plugin.js"></script>
<!-- custom GSAP -->
<script src="assets/js/custom-gsap.js"></script>

<!-- swiper -->
<script src="assets/js/swiper-bundle.min.js"></script>
<!-- marquee -->
<script src="assets/js/jquery.marquee.min.js"></script>
<!-- counter up -->
<script src="assets/js/counterup.min.js"></script>
<!-- aos -->
<script src="assets/js/aos.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script> 
    var typing = new Typed(".typed-text", {
        strings: ["Creative", "Trending", "Modern"],
        typeSpeed: 60,      // slower = smoother typing
        backSpeed: 40,      // smooth deleting
        backDelay: 1500,    // pause before deleting
        startDelay: 500,    // delay before start
        loop: true,
        showCursor: false   // hide cursor
    });

    
</script>


<!-- main js -->
<script src="assets/js/main.js"></script>