<!-- ========================== Testimonials section start ========================== -->
<section class="py-120 testimonials section-bg">
    <div class="container max-w-1620-px">
        <div class="section-heading tw-mb-10 text-center">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                OUR TESTIMONIALS
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">See what our customers say</h2>
            <div class="d-inline-flex align-items-center tw-gap-6 tw-mt-6">
                <h2 class="h3">4.82/5</h2>
                <span class="">
                    <img src="assets/images/icons/trust-pilot-logo.png" alt="Truest Pilot Logo">
                </span>
            </div>
        </div>

        <div class="swiper testimonials-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15">
                        <span class="">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                        </span>
                        <div class="tw-mt-4">
                            <h2 class="tw-text-base tw-mb-1">Sophia Anderson</h2>
                            <span class="d-block fw-medium">Digital Marketer</span>
                        </div>
                        <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="d-flex text-main-600 tw-text-lg">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <p class="tw-text-lg text-body-5 fw-medium">"The team's ability to convey our brand's message in
                            a compelling way is outstanding. Very satisfied with their.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<style>
    .testimonials-slider {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .testimonials-slider .swiper-slide {
        /* transition: .6s ease; */
        transform-origin: bottom center;
    }

    /* .testimonials-slider .swiper-wrapper .swiper-slide:nth-child(1) {
        transform: rotate(-26deg) translateY(80px);
    }
    .testimonials-slider .swiper-wrapper .swiper-slide:nth-child(2) {
        transform: rotate(-15deg) translateY(0px);
    }
   
    .testimonials-slider .swiper-wrapper .swiper-slide:nth-child(4) {
        transform: rotate(15deg) translateY(86px);
    }

    .testimonials-slider .swiper-wrapper .swiper-slide:nth-child(5) {
        transform: rotate(26deg) translateY(230px);
    }
    .testimonials-slider .swiper-wrapper .swiper-slide:nth-child(6) {
        transform: rotate(31deg) translateY(402px)
    }
    .testimonials-slider .swiper-wrapper .swiper-slide:last-child {
        transform: rotate(36deg) translateY(502px)
    } */
</style>
<!-- ========================== Testimonials section end ========================== -->