<!-- ========================== Testimonials home service section start ========================== -->
<section class="py-120 testimonials section-bg">
    <div class="container max-w-1620-px">
        <div class="section-heading tw-mb-10 text-center">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                OUR TESTIMONIALS
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">See what our customers say</h2>
            <div class="d-inline-flex align-items-center tw-gap-6 tw-mt-6">
                <h2 class="h3">4.82/5</h2>
                <span class="">
                    <img src="assets/images/icons/trust-pilot-logo.png" alt="Truest Pilot Logo">
                </span>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Testimonials home service section end ========================== -->
