<!-- ========================== Testimonials home service section start ========================== -->
<section class="py-120 testimonials-home-service section-bg">
    <div class="container max-w-1620-px">
        <div class="section-heading tw-mb-10 text-center">
            <span
                class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                <i class="ph-fill ph-caret-double-right"></i>
                OUR TESTIMONIALS
            </span>
            <h2 class="splitTextStyleOne fw-semibold tw-mt-4">See what our customers say</h2>
            <div class="d-inline-flex align-items-center tw-gap-6 tw-mt-6">
                <h2 class="h3">4.82/5</h2>
                <span class="">
                    <img src="assets/images/icons/trust-pilot-logo.png" alt="Truest Pilot Logo">
                </span>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="testimonials-home-service-item">
                    <div
                        class="bg-white tw-rounded-xl tw-py-305 tw-px-705 d-flex align-items-center justify-content-between tw-gap-2 tw-mb-205">
                        <div class="d-flex align-items-center tw-gap-4">
                            <span class="tw-w-15 tw-h-15 rounded-circle overflow-hidden">
                                <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image"
                                    class="w-100 h-100 object-fit-cover">
                            </span>
                            <div class="">
                                <h2 class="tw-text-lg tw-mb-1 tw-duration-300">Jessica Davis</h2>
                                <span class="d-block fw-medium tw-duration-300">CEO</span>
                            </div>
                        </div>
                        <span class="">
                            <img src="assets/images/icons/quate-icon.png" alt="Quote Icon">
                        </span>
                    </div>
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-2">
                            <h2 class="text-main-600">5.0</h2>
                            <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                                <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Testimonials home service section end ========================== -->