<!-- ============================== Testimonials Home demand section start ================================ -->
<section class="testimonials-demand py-120 section-bg position-relative">
    <div class="section-heading tw-mb-10 text-center">
        <span
            class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
            <i class="ph-fill ph-caret-double-right"></i>
            OUR TESTIMONIALS
        </span>
        <h2 class="text-reveal fw-semibold tw-mt-4">See what our customers say</h2>
        <p class="text-body tw-mt-4 tw-text-lg">We do everything we can to ensure a positive merchant experience.</p>
        <div class="d-inline-flex align-items-center tw-gap-6 tw-mt-6">
            <h2 class="h3">4.82/5</h2>
            <span class="">
                <img src="assets/images/icons/trust-pilot-logo.png" alt="Truest Pilot Logo">
            </span>
        </div>
    </div>

    <div class="swiper testimonials-demand-slider tw-p-3">
        <div class="swiper-wrapper transition-timing-linear">
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Jessica Davis</h2>
                        <span class="d-block fw-medium tw-duration-300">CEO</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Our experience with Creative Agency has
                        been
                        fantastic. They understood our goals and delivered a comprehensive."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img2.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Michael Miller</h2>
                        <span class="d-block fw-medium tw-duration-300">Product Manager</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Exceptional service! The copywriting
                        team truly
                        understood our needs and delivered beyond."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img3.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Sophia Anderson</h2>
                        <span class="d-block fw-medium tw-duration-300">Digital Marketer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"The team's ability to convey our
                        brand's message in
                        a compelling way is outstanding. Very satisfied with their.”</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Olivia Brown,</h2>
                        <span class="d-block fw-medium tw-duration-300">WP Developer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Highly recommend this copywriting team.
                        Their
                        quality of writing has greatly enhanced our brand's message."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img5.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Michael</h2>
                        <span class="d-block fw-medium tw-duration-300">Director of Birzan</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Their ability to craft relevant and
                        engaging
                        content has significantly improved our audience's engagement."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img2.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Sophia Anderson</h2>
                        <span class="d-block fw-medium tw-duration-300">Digital Marketer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"The team's ability to convey our
                        brand's message in
                        a compelling way is outstanding. Very satisfied with their.”</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Robiul Hasan</h2>
                        <span class="d-block fw-medium tw-duration-300">React Developer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Highly recommend this copywriting team.
                        Their
                        quality of writing has greatly enhanced our brand's message."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img3.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">John Doe</h2>
                        <span class="d-block fw-medium tw-duration-300">UX/UI Designer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"The team's ability to convey our
                        brand's message in
                        a compelling way is outstanding. Very satisfied with their.”</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Olivia Brown,</h2>
                        <span class="d-block fw-medium tw-duration-300">WP Developer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Highly recommend this copywriting team.
                        Their
                        quality of writing has greatly enhanced our brand's message."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper testimonials-demand-slider-two tw-p-3">
        <div class="swiper-wrapper transition-timing-linear">
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img1.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Jessica Davis</h2>
                        <span class="d-block fw-medium tw-duration-300">CEO</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Our experience with Creative Agency has
                        been
                        fantastic. They understood our goals and delivered a comprehensive."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img2.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Michael Miller</h2>
                        <span class="d-block fw-medium tw-duration-300">Product Manager</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Exceptional service! The copywriting
                        team truly
                        understood our needs and delivered beyond."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img3.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Sophia Anderson</h2>
                        <span class="d-block fw-medium tw-duration-300">Digital Marketer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"The team's ability to convey our
                        brand's message in
                        a compelling way is outstanding. Very satisfied with their.”</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Olivia Brown,</h2>
                        <span class="d-block fw-medium tw-duration-300">WP Developer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Highly recommend this copywriting team.
                        Their
                        quality of writing has greatly enhanced our brand's message."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img5.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Michael</h2>
                        <span class="d-block fw-medium tw-duration-300">Director of Birzan</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Their ability to craft relevant and
                        engaging
                        content has significantly improved our audience's engagement."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img2.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Sophia Anderson</h2>
                        <span class="d-block fw-medium tw-duration-300">Digital Marketer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"The team's ability to convey our
                        brand's message in
                        a compelling way is outstanding. Very satisfied with their.”</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Robiul Hasan</h2>
                        <span class="d-block fw-medium tw-duration-300">React Developer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Highly recommend this copywriting team.
                        Their
                        quality of writing has greatly enhanced our brand's message."</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img3.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">John Doe</h2>
                        <span class="d-block fw-medium tw-duration-300">UX/UI Designer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"The team's ability to convey our
                        brand's message in
                        a compelling way is outstanding. Very satisfied with their.”</p>
                </div>
            </div>
            <div class="swiper-slide h-unset d-flex">
                <div
                    class="testimonials-item bg-white tw-rounded-20-px shadow-sm tw-px-6 tw-pt-9 tw-pb-15 tw-duration-300 h-100">
                    <span class="">
                        <img src="assets/images/thumbs/testimonials-img4.png" alt="Testimonials Image">
                    </span>
                    <div class="tw-mt-4">
                        <h2 class="tw-text-base tw-mb-1 tw-duration-300">Olivia Brown,</h2>
                        <span class="d-block fw-medium tw-duration-300">WP Developer</span>
                    </div>
                    <ul class="tw-my-5 d-flex align-items-center tw-gap-1">
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-flex text-main-600 tw-text-lg tw-duration-300">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <p class="tw-text-lg text-body-5 fw-medium tw-duration-300">"Highly recommend this copywriting team.
                        Their
                        quality of writing has greatly enhanced our brand's message."</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Testimonials Home demand section end ================================ -->