<!-- ========================== Top Products home service section start ================================ -->
<section class="top-products py-120">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between tw-pb-15 mb-lg-4">
            <div class="">
                <span
                    class="subtitle border border-main-600 rounded-pill tw-px-5 tw-py-105 text-main-600 d-inline-flex align-items-center tw-gap-105 text-uppercase tw-leading-none bg-white">
                    <i class="ph-fill ph-caret-double-right"></i>
                    TOP PRODUCTS
                </span>
                <ul class="nav nav-pills common-tab tw-gap-62-px tw-mt-8" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link h2 p-0 bg-transparent text-body fw-medium hover-text-heading font-body active"
                            id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                            role="tab" aria-controls="pills-home" aria-selected="true">In New</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link h2 p-0 bg-transparent text-body fw-medium hover-text-heading font-body"
                            id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
                            role="tab" aria-controls="pills-profile" aria-selected="false">Best Selling</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link h2 p-0 bg-transparent text-body fw-medium hover-text-heading font-body"
                            id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
                            role="tab" aria-controls="pills-contact" aria-selected="false">Top Rated</button>
                    </li>
                </ul>
            </div>
            <div class="">
                <div class="custom-fade-animation tw-mt-10" data-delay=".6" data-fade-from="bottom" data-ease="bounce">
                    <a href="shop.html" class="btn bg-main-600 hover-bg-animation hover-bg-animation-main-two-600">
                        <span class="btn-text">All Categories </span>
                        <span class="btn-icon-animation d-flex">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">
                <div class="row gy-md-5 gy-4">
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img1.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img1.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img2.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img2.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img3.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img3.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img4.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img4.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img5.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img5.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html"
                                        class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4 line-clamp-1">Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img6.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img6.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img7.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img7.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img8.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img8.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">
                <div class="row gy-md-5 gy-4">
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img1.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img1.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img2.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img2.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img3.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img3.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img4.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img4.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img5.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img5.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html"
                                        class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4 line-clamp-1">Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img6.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img6.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img7.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img7.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img8.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img8.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                tabindex="0">
                <div class="row gy-md-5 gy-4">
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img1.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img1.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img2.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img2.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img3.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img3.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img4.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img4.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img5.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img5.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html"
                                        class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4 line-clamp-1">Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img6.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img6.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">Sale</span>
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img7.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img7.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                    <div
                                        class="d-flex flex-column tw-gap-1 position-absolute top-0 tw-start-0 tw-mt-205 tw-ms-205 z-1">
                                        <span
                                            class="bg-main-two-600 text-white tw-py-1 tw-px-3 tw-rounded-md tw-text-sm">New</span>
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-6">
                        <div class="top-product-item">
                            <div class="">
                                <a href="shop.html" class="tp--hover-item position-relative d-block">
                                    <div
                                        class="clip-animation image-double-animation overflow-hidden position-relative d-block tw-rounded-lg">
                                        <img src="assets/images/thumbs/top-product-img8.png" alt="Image"
                                            data-animate="true"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                        <img src="assets/images/thumbs/top-product-img8.png" alt="Image"
                                            class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                    </div>
                                </a>
                                <div class="tw-mt-6 text-center">
                                    <span class="text-main-600 d-block fw-semibold tw-mb-2">$26.00 - $29.00</span>
                                    <a href="shop-details.html" class="text-body-7 hover-text-heading hover-common-underline fw-semibold h4"
                                        line-clamp-1>Food
                                        Mat Pack</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ========================== Top Products home service section end ================================ -->