<!-- =============================== Top Header new start ================================= -->
<div class="top-header-new bg-main-600 tw-py-4">
    <div class="container max-w-1760-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-4">
            <div class="d-sm-flex align-items-center tw-gap-4 d-none">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="d-sm-flex d-none text-white tw-text-lg">
                        <i class="ph-fill ph-phone-call"></i>
                    </span>
                    <a href="tel:(208)555-0112" class="d-flex text-white hover-common-underline">(208) 555-0112</a>
                </div>
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="d-sm-flex d-none text-white tw-text-lg">
                        <i class="ph-fill ph-envelope-open"></i>
                    </span>
                    <a href="mailto:demo@gmail.com" class="d-flex text-white hover-common-underline">demo@gmail.com</a>
                </div>
            </div>
            <div class="d-lg-flex align-items-center tw-gap-4 d-none">
                <span class="text-white">Follow Us -</span>
                <div class="d-flex align-items-center tw-gap-3">
                    <a href="https://www.facebook.com"
                        class="tw-text-xl d-flex text-white hover-scale-2 tw-duration-100">
                        <i class="ph-fill ph-facebook-logo"></i>
                    </a>
                    <a href="https://www.pinterest.com"
                        class="tw-text-xl d-flex text-white hover-scale-2 tw-duration-100">
                        <i class="ph-fill ph-pinterest-logo"></i>
                    </a>
                    <a href="https://www.dropbox.com"
                        class="tw-text-xl d-flex text-white hover-scale-2 tw-duration-100">
                        <i class="ph-fill ph-dropbox-logo"></i>
                    </a>
                    <a href="https://www.dropbox.com"
                        class="tw-text-xl d-flex text-white hover-scale-2 tw-duration-100">
                        <i class="ph-fill ph-twitch-logo"></i>
                    </a>
                    <a href="https://www.dropbox.com"
                        class="tw-text-xl d-flex text-white hover-scale-2 tw-duration-100">
                        <i class="ph-fill ph-instagram-logo"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-sm-end justify-content-between tw-gap-4 flex-sm-grow-0 flex-grow-1">
                <div class="d-flex align-items-center tw-gap-2 flex-shrink-0">
                    <span class="d-flex text-white tw-text-lg">
                        <i class="ph ph-truck"></i>
                    </span>
                    <a href="javascript:void(0)" class="d-flex text-white hover-common-underline">Order Tracking</a>
                </div>
                <div class="flex-shrink-0">
                    <select class="form-select form-control ps-0 pb-0 pt-0 bg-transparent border-0 text-white bg-blue-600 option-bg-white tw-pe-8">
                        <option value="1">USD ($)</option>
                        <option value="2">BDT (৳)</option>
                        <option value="3">EUR (€)</option>
                        <option value="4">GBP (£)</option>
                        <option value="5">INR (₹)</option>
                        <option value="6">JPY (¥)</option>
                        <option value="7">AUD ($)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============================== Top Header new end ================================= -->