<!-- ============================= top categories new section start ================================= -->
<section class="top-categories-new py-120 section-bg-gradient-two">
    <div class="container">
        <div class="row gy-4 tw-mb-15">
            <div class="col-lg-5">
                <div class="">
                    <div class="bg-white rounded-pill border border-neutral-100 tw-py-105 tw-px-4 d-inline-flex align-items-center tw-gap-3"
                        data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
                        <div class="d-flex align-items-center tw-gap-205">
                            <span class="text-primary-new d-sm-flex d-none tw-text-xl">
                                <i class="ph-fill ph-check-circle"></i>
                            </span>
                            <span
                                class="text-primary-new tw-text-lg text-res-14-px fw-semibold text-center">Explore</span>
                        </div>
                        <span class="border-end border-neutral-300 tw-h-5 tw-w-px"></span>
                        <span class="text-neutral-500 tw-text-lg text-res-14-px fw-normal text-center">Our Top
                            Categories</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="">
                    <h2 class="text-reveal fw-semibold tw-mt-4 h1">Choose From a Wide Range of Printing Categories.</h2>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div
                            class="tw-rounded-2xl bg-white overflow-hidden border border-neutral-100 tw-p-4 image-double-animation ">
                            <a href="shop.html"
                                class="clip-animation overflow-hidden position-relative d-block tw-rounded-xl">
                                <img src="assets/images/thumbs/top-categories-new-img1.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/top-categories-new-img1.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="tw-mt-4 d-flex align-items-center justify-content-between tw-gap-4 tw-px-2">
                                <div class="">
                                    <h2 class="tw-text-lg tw-mb-1">
                                        <a href="shop.html"
                                            class="hover-common-underline hover-text-heading text-heading">Custom
                                            Apparel</a>
                                    </h2>
                                    <span class="text-neutral-500 tw-text-sm">2.5k+ Design Styles</span>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="shop.html"
                                        class="btn bg-main-600 gradient-outline-bg-white hover-bg-animation hover-bg-animation-main-600 p-0 tw-w-8 tw-h-8 d-flex justify-content-center align-items-center tw-text-base text-white">
                                        <i class="ph-bold ph-caret-right z-1 text-gradient-main tw-duration-300"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-rounded-2xl bg-white overflow-hidden border border-neutral-100 tw-p-4 image-double-animation ">
                            <a href="shop.html"
                                class="clip-animation overflow-hidden position-relative d-block tw-rounded-xl">
                                <img src="assets/images/thumbs/top-categories-new-img2.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/top-categories-new-img2.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="tw-mt-4 d-flex align-items-center justify-content-between tw-gap-4 tw-px-2">
                                <div class="">
                                    <h2 class="tw-text-lg tw-mb-1">
                                        <a href="shop.html"
                                            class="hover-common-underline hover-text-heading text-heading">Marketing
                                            Materials</a>
                                    </h2>
                                    <span class="text-neutral-500 tw-text-sm">2.5k+ Design Styles</span>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="shop.html"
                                        class="btn bg-main-600 gradient-outline-bg-white hover-bg-animation hover-bg-animation-main-600 p-0 tw-w-8 tw-h-8 d-flex justify-content-center align-items-center tw-text-base text-white">
                                        <i class="ph-bold ph-caret-right z-1 text-gradient-main tw-duration-300"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-rounded-2xl bg-white overflow-hidden border border-neutral-100 tw-p-4 image-double-animation ">
                            <a href="shop.html"
                                class="clip-animation overflow-hidden position-relative d-block tw-rounded-xl">
                                <img src="assets/images/thumbs/top-categories-new-img3.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/top-categories-new-img3.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="tw-mt-4 d-flex align-items-center justify-content-between tw-gap-4 tw-px-2">
                                <div class="">
                                    <h2 class="tw-text-lg tw-mb-1">
                                        <a href="shop.html"
                                            class="hover-common-underline hover-text-heading text-heading">Product
                                            Packaging</a>
                                    </h2>
                                    <span class="text-neutral-500 tw-text-sm">2.5k+ Design Styles</span>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="shop.html"
                                        class="btn bg-main-600 gradient-outline-bg-white hover-bg-animation hover-bg-animation-main-600 p-0 tw-w-8 tw-h-8 d-flex justify-content-center align-items-center tw-text-base text-white">
                                        <i class="ph-bold ph-caret-right z-1 text-gradient-main tw-duration-300"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-rounded-2xl bg-white overflow-hidden border border-neutral-100 tw-p-4 image-double-animation ">
                            <a href="shop.html"
                                class="clip-animation overflow-hidden position-relative d-block tw-rounded-xl">
                                <img src="assets/images/thumbs/top-categories-new-img4.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/top-categories-new-img4.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="tw-mt-4 d-flex align-items-center justify-content-between tw-gap-4 tw-px-2">
                                <div class="">
                                    <h2 class="tw-text-lg tw-mb-1">
                                        <a href="shop.html"
                                            class="hover-common-underline hover-text-heading text-heading">Label and
                                            Sticker</a>
                                    </h2>
                                    <span class="text-neutral-500 tw-text-sm">2.5k+ Design Styles</span>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="shop.html"
                                        class="btn bg-main-600 gradient-outline-bg-white hover-bg-animation hover-bg-animation-main-600 p-0 tw-w-8 tw-h-8 d-flex justify-content-center align-items-center tw-text-base text-white">
                                        <i class="ph-bold ph-caret-right z-1 text-gradient-main tw-duration-300"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-rounded-2xl bg-white overflow-hidden border border-neutral-100 tw-p-4 image-double-animation ">
                            <a href="shop.html"
                                class="clip-animation overflow-hidden position-relative d-block tw-rounded-xl">
                                <img src="assets/images/thumbs/top-categories-new-img5.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/top-categories-new-img5.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="tw-mt-4 d-flex align-items-center justify-content-between tw-gap-4 tw-px-2">
                                <div class="">
                                    <h2 class="tw-text-lg tw-mb-1">
                                        <a href="shop.html"
                                            class="hover-common-underline hover-text-heading text-heading">Large
                                            Format</a>
                                    </h2>
                                    <span class="text-neutral-500 tw-text-sm">2.5k+ Design Styles</span>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="shop.html"
                                        class="btn bg-main-600 gradient-outline-bg-white hover-bg-animation hover-bg-animation-main-600 p-0 tw-w-8 tw-h-8 d-flex justify-content-center align-items-center tw-text-base text-white">
                                        <i class="ph-bold ph-caret-right z-1 text-gradient-main tw-duration-300"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="tw-rounded-2xl bg-white overflow-hidden border border-neutral-100 tw-p-4 image-double-animation ">
                            <a href="shop.html"
                                class="clip-animation overflow-hidden position-relative d-block tw-rounded-xl">
                                <img src="assets/images/thumbs/top-categories-new-img6.png" alt="Image"
                                    data-animate="true"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                                <img src="assets/images/thumbs/top-categories-new-img6.png" alt="Image"
                                    class="image-double-animation__element w-100 h-100 object-fit-cover clip-animation-img">
                            </a>
                            <div class="tw-mt-4 d-flex align-items-center justify-content-between tw-gap-4 tw-px-2">
                                <div class="">
                                    <h2 class="tw-text-lg tw-mb-1">
                                        <a href="shop.html"
                                            class="hover-common-underline hover-text-heading text-heading">Promotional
                                            Products</a>
                                    </h2>
                                    <span class="text-neutral-500 tw-text-sm">2.5k+ Design Styles</span>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="shop.html"
                                        class="btn bg-main-600 gradient-outline-bg-white hover-bg-animation hover-bg-animation-main-600 p-0 tw-w-8 tw-h-8 d-flex justify-content-center align-items-center tw-text-base text-white">
                                        <i class="ph-bold ph-caret-right z-1 text-gradient-main tw-duration-300"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= top categories new section end ================================= -->