<!-- ======================= Video home services section start =============================== -->
<section class="video-home-service">
    <div class="container">
        <div
            class="bg-neutral-100 tw-rounded-2xl tw-pt-15 tw-p-60-px pb-0 d-flex tw-gap-6 justify-content-between flex-wrap">
            <div class="align-self-end tw-pb-15 tw-mb-10">
                <div class="tw-rounded-2xl overflow-hidden border border-3 border-white">
                    <img src="assets/images/thumbs/show-case-img1.png" alt="Image">
                </div>
            </div>
            <div class="align-self-end">
                <div class="tw-rounded-2xl overflow-hidden border border-3 border-white">
                    <img src="assets/images/thumbs/show-case-img2.png" alt="Image">
                </div>
            </div>
            <div class="align-self-end tw-pb-15 tw-mb-5">
                <div class="tw-rounded-2xl overflow-hidden border border-3 border-white">
                    <img src="assets/images/thumbs/show-case-img3.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Video home services section end =============================== -->