<!-- ======================= Video home services section start =============================== -->
<section class="video-home-service">
    <div class="container">
        <div
            class="bg-neutral-100 tw-rounded-2xl tw-pt-15 tw-p-60-px pb-0 d-flex tw-gap-6 justify-content-between flex-md-nowrap flex-wrap">
            <div class="flex-grow-1 align-self-end pb-md-5 mb-md-5">
                <div class="tw-rounded-2xl overflow-hidden border border-3 border-white position-relative">
                    <img src="assets/images/thumbs/show-case-img1.png" alt="Image" class="w-100 h-100 object-fit-cover">
                </div>
            </div>
            <div class="flex-grow-1 align-self-end">
                <div class="tw-rounded-2xl overflow-hidden border border-3 border-white position-relative">
                    <img src="assets/images/thumbs/show-case-img2.png" alt="Image" class="w-100 h-100 object-fit-cover">
                    <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                        class="play-button tw-w-100-px tw-h-100-px d-inline-flex justify-content-center align-items-center rounded-circle blur-style-two text-white rounded-circle text-34-px position-absolute tw-start-50 tw--translate-middle top-50 z-1 bg-main-600 hover-bg-main-two-600 hover-text-white">
                        <i class="ph-fill ph-play"></i>
                    </a>
                </div>
            </div>
            <div class="flex-grow-1 align-self-end pb-md-5 mb-md-4 pb-4">
                <div class="tw-rounded-2xl overflow-hidden border border-3 border-white position-relative">
                    <img src="assets/images/thumbs/show-case-img3.png" alt="Image" class="w-100 h-100 object-fit-cover">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Video home services section end =============================== -->