<!-- ======================================== Banner section start =================================== -->
<section class="banner tw-pt-5 overflow-hidden">
    <div class="container max-w-1752-px">
        <div class="d-flex tw-gap-52-px position-relative w-auto">
            <div class="max-w-330-px w-100 flex-shrink-0 bg-gradient-sidebar tw-rounded-20-px d-inline-block">
                @@include('../partials/_sidebar-dropdown.html')
            </div>

            <div class="flex-grow-1 d-inline-block">
                <!-- Header Start  -->
                <header class="d-flex align-items-center justify-content-between tw-gap-6 position-relative">
                    <div class="header-menu d-lg-block d-none">
                        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-40-px" })
                    </div>
                    <div class="d-flex align-items-center tw-gap-4">
                        <a href="javascript:void(0)"
                            class="d-flex align-items-center justify-content-center gap-4 tw-text-3xl text-heading tw-leading-none position-relative hover-text-main-600 hover--translate-y-1 active--translate-y-scale-9 tw-me-4">
                            <i class="ph ph-heart-straight"></i>
                            <span
                                class="tw-w-6 tw-h-6 d-flex align-items-center justify-content-center rounded-circle bg-main-600 text-white tw-text-xs position-absolute top-0 tw-end-0 tw--me-16-px tw--mt-10-px">0</span>
                        </a>
                        <a href="javascript:void(0)"
                            class="d-flex align-items-center justify-content-center gap-4 tw-text-3xl text-heading tw-leading-none position-relative hover-text-main-600 hover--translate-y-1 active--translate-y-scale-9 tw-me-4">
                            <i class="ph ph-shopping-cart"></i>
                            <span
                                class="tw-w-6 tw-h-6 d-flex align-items-center justify-content-center rounded-circle bg-main-600 text-white tw-text-xs position-absolute top-0 tw-end-0 tw--me-16-px tw--mt-10-px">0</span>
                        </a>
                        <a href="javascript:void(0)"
                            class="d-flex align-items-center justify-content-center gap-4 tw-text-3xl text-heading tw-leading-none position-relative hover-text-main-600 hover--translate-y-1 active--translate-y-scale-9">
                            <i class="ph ph-user"></i>
                        </a>
                    </div>
                </header>
                <!-- Header End  -->

                @@include('../partials/_banner.html')

                @@include('../partials/_features.html')

            </div>
        </div>
    </div>
</section>
<!-- ======================================== Banner section end =================================== -->