<!-- =========================== Working Process section start ================================ -->
<section class="working-process @@sectionClass">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="working-process text-center group group-item position-relative">
                    <div class="position-absolute tw-start-75-percent top-0 tw-mt-10 min-w-max d-xl-block d-none">
                        <img src="assets/images/shapes/arrow-curve-img1.png" alt="Curve Image" class="left-right-animation">
                    </div>
                    <div class="tw-w-116-px tw-h-116-px mx-auto">
                        <span
                            class="tw-w-116-px tw-h-116-px bg-neutral-50 d-flex justify-content-center align-items-center rounded-circle tw-duration-300 group-hover-bg-main-two-600">
                            <img src="assets/images/icons/working-process-icon1.png" alt="Icon"
                                class="group-hover-item-text-invert-white tw-duration-300">
                        </span>
                        <span
                            class="bg-main-600 rounded-pill tw-px-4 tw-py-1 text-white tw-text-sm fw-medium translate-y--8-px">Step
                            01</span>
                    </div>
                    <h2 class="h4 tw-mt-5 tw-mb-6 tw-pt-8">Upload your design</h2>
                    <p class="text-body max-w-380-px mx-auto">Know-how and every thing you will need to receive fast,
                        reliable printing services.</p>
                    <a href="service-details.html"
                        class="text-heading fw-semibold d-inline-flex align-items-center tw-gap-3 hover-text-main-600 tw-mt-10 hover-underline">
                        Explore More
                        <span class="btn-down-arrow">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="working-process text-center group group-item position-relative">
                    <div class="position-absolute tw-start-75-percent top-0 tw-mt-10 min-w-max d-xl-block d-none">
                        <img src="assets/images/shapes/arrow-curve-img2.png" alt="Curve Image" class="left-right-animation animation-delay-3">
                    </div>
                    <div class="tw-w-116-px tw-h-116-px mx-auto">
                        <span
                            class="tw-w-116-px tw-h-116-px bg-neutral-50 d-flex justify-content-center align-items-center rounded-circle tw-duration-300 group-hover-bg-main-two-600">
                            <img src="assets/images/icons/working-process-icon2.png" alt="Icon"
                                class="group-hover-item-text-invert-white tw-duration-300">
                        </span>
                        <span
                            class="bg-main-600 rounded-pill tw-px-4 tw-py-1 text-white tw-text-sm fw-medium translate-y--8-px">Step
                            02</span>
                    </div>
                    <h2 class="h4 tw-mt-5 tw-mb-6 tw-pt-8">Make It Print Ready</h2>
                    <p class="text-body max-w-380-px mx-auto">Know-how and every thing you will need to receive fast,
                        reliable printing services.</p>
                    <a href="service-details.html"
                        class="text-heading fw-semibold d-inline-flex align-items-center tw-gap-3 hover-text-main-600 tw-mt-10 hover-underline">
                        Explore More
                        <span class="btn-down-arrow">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="working-process text-center group group-item position-relative">
                    <div class="tw-w-116-px tw-h-116-px mx-auto">
                        <span
                            class="tw-w-116-px tw-h-116-px bg-neutral-50 d-flex justify-content-center align-items-center rounded-circle tw-duration-300 group-hover-bg-main-two-600">
                            <img src="assets/images/icons/working-process-icon3.png" alt="Icon"
                                class="group-hover-item-text-invert-white tw-duration-300">
                        </span>
                        <span
                            class="bg-main-600 rounded-pill tw-px-4 tw-py-1 text-white tw-text-sm fw-medium translate-y--8-px">Step
                            03</span>
                    </div>
                    <h2 class="h4 tw-mt-5 tw-mb-6 tw-pt-8">Ship It for You</h2>
                    <p class="text-body max-w-380-px mx-auto">Know-how and every thing you will need to receive fast,
                        reliable printing services.</p>
                    <a href="service-details.html"
                        class="text-heading fw-semibold d-inline-flex align-items-center tw-gap-3 hover-text-main-600 tw-mt-10 hover-underline">
                        Explore More
                        <span class="btn-down-arrow">
                            <i class="ph-bold ph-arrow-down-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Working Process section end ================================ -->