/* Max width Css Class Start */
.max-w {
    &-810-px {
        max-width: 810px;
    }
    &-1752-px {
        max-width: 1752px;
    }
    &-1620-px {
        max-width: 1620px;
    }
    &-330-px {
        max-width: 330px;
    }
    &-230-px {
        max-width: 230px;
    }
    &-180-px {
        max-width: 180px;
    }
    &-270-px {
        max-width: 270px;
    }
    &-250-px {
        max-width: 250px;
    }
    &-380-px {
        max-width: 380px;
    }
    &-476-px {
        max-width: 520px;
    }
    &-550-px {
        max-width: 550px;
    }
    &-580-px {
        max-width: 580px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-650-px {
        max-width: 650px;
    }
    &-790-px {
        max-width: 790px;
    }
    &-730-px {
        max-width: 730px;
    }
    &-1050-px {
        max-width: 1050px;
    }
    &-1100-px {
        max-width: 1100px;
    }
    &-1720-px {
        max-width: 1720px;
    }
    &-1760-px {
        max-width: 1760px;
    }

    &-45-percent {
        max-width: 45%;
    }
}
/* Max width Css Class End */