/* Max width Css Class Start */
.max-w {
    &-810-px {
        max-width: 810px;
    }
    &-1752-px {
        max-width: 1752px;
    }
    &-1620-px {
        max-width: 1620px;
    }
    &-330-px {
        max-width: 330px;
    }
    &-230-px {
        max-width: 230px;
    }
    &-270-px {
        max-width: 270px;
    }
    &-476-px {
        max-width: 520px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-790-px {
        max-width: 790px;
    }
}
/* Max width Css Class End */