/* Footer new css start */
.footer-item-wrapper {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr;
    
    @media (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    @media (min-width: 1199px) {
        grid-template-columns: 3fr 1.5fr 1.5fr 2.5fr 2fr;
    }
}
/* Footer new css end*/
