/* Get started new css start */
.get-started-product-box {
    border-radius: 24px 24px 0 0;
    @media (min-width: 992px) {
        border-radius: 0 24px 0 ;
        position: absolute;
        max-width: 678px;
        inset-inline-start: 0;
        max-width: 44%;
        height: 100%;
    }
}

// .get-started-item {
//     &:last-child {
//         padding-bottom: 0;
//         border-bottom: 0 !important;
//     }
// }
/* Get started new css end */