/* Testimonials new css start */
.testimonials-new-img {
    transform: translateY(60px);
    max-height: 490px;
    overflow: hidden;
}

.quate-new-icon {
    max-width: 32%;
}



.testimonials-new-shape1 {
    top: 8px;
    inset-inline-start: 0;
}

.testimonials-new-shape2 {
    top: 14px;
    inset-inline-end: 16px;
}

.testimonials-new-shape3 {
    top: 30%;
    inset-inline-start: 11%;
}

.testimonials-new-shape4 {
    top: 24%;
    inset-inline-end: 20%;
}

/* Testimonials new css end */