/* Testimonials new css start */
.testimonials-new-img {
    transform: translateY(60px);
    max-height: 490px;
    overflow: hidden;
}

.quate-new-icon {
    max-width: 32%;
}



.testimonials-new-shape1 {
    top: 8px;
    inset-inline-start: 0;
}

.testimonials-new-shape2 {
    top: 14px;
    inset-inline-end: 16px;
}

.testimonials-new-shape3 {
    top: 30%;
    inset-inline-start: 11%;
}

.testimonials-new-shape4 {
    top: 24%;
    inset-inline-end: 20%;
}





/* Active slider animation css start */
.active-slider-animate-little-updown {
    margin-top: 24px;
    visibility: hidden;
    opacity: 0;
}

.active-slider-animate-scalation {
    transform: scale(.9);
    visibility: hidden;
    opacity: 0;
}

.active-slider-animate-updown {
    transform: translateY(60%);
    visibility: hidden;
    opacity: 0;
}

.swiper-slide-active {
    .transition-delay-05 {
        transition-delay: .5s !important;
    }

    .transition-delay-1 {
        transition-delay: 1s !important;
    }

    .transition-delay-105 {
        transition-delay: 1.5s !important;
    }

    .transition-delay-2 {
        transition-delay: 2s !important;
    }
}

.swiper-slide-active {
    .active-slider-animate-little-updown {
        margin-top: 0px;
        visibility: visible;
        opacity: 1;
    }

    .active-slider-animate-scalation {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }

    .active-slider-animate-updown {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

/* Active slider animation css end */







/* Testimonials new css end */