/* Top categories new css start */
.blur-bg-white {
    background-color: #FFFFFF1A !important;
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff1f !important;
}
/* Top categories new css end */