/* ================================= preload Css Start =========================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-600);
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.preloader__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    z-index: 100;
    color: #000;
    font-family: var(--heading-font) !important;
    font-weight: 700;
}

.preloader__overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.preloader .block {
    position: fixed;
    width: 5.1%;
    height: 100%;
    background: #000;
    transform-origin: left;
}

.preloader .block-1 {
    left: 0;
}

.preloader .block-2 {
    left: 5%;
}

.preloader .block-3 {
    left: 10%;
}

.preloader .block-4 {
    left: 15%;
}

.preloader .block-5 {
    left: 20%;
}

.preloader .block-6 {
    left: 25%;
}

.preloader .block-7 {
    left: 30%;
}

.preloader .block-8 {
    left: 35%;
}

.preloader .block-9 {
    left: 40%;
}

.preloader .block-10 {
    left: 45%;
}

.preloader .block-11 {
    left: 50%;
}

.preloader .block-12 {
    left: 55%;
}

.preloader .block-13 {
    left: 60%;
}

.preloader .block-14 {
    left: 65%;
}

.preloader .block-15 {
    left: 70%;
}

.preloader .block-16 {
    left: 75%;
}

.preloader .block-17 {
    left: 80%;
}

.preloader .block-18 {
    left: 85%;
}

.preloader .block-19 {
    left: 90%;
}

.preloader .block-20 {
    left: 95%;
}
/* ================================= preload Css End ===========================  */
