/* whole banner section start */
.sidebar-list-item {
    &:not(:last-child) {
        border-bottom: 1px solid #E0E0E0;
    }

    &:hover {
        .sidebar-dropdown-menu {
            margin-top: 0;
        }
    }
}

.mash-gradient-shape {
    &::before, &::after {
        position: absolute;
        content: "";
        width: 309px;
        height: 309px;
        top: 150px;
        inset-inline-start: 110px;
        opacity: 1;
        background: #FEAE007D;
        filter: blur(244px);
        z-index: -1;
    }
    &::after {
        background: #1EE8FF7A;
        inset-inline-start: 50%;
    }
}

// .bg-gradient-sidebar::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background: linear-gradient(80.26deg, #FFDCE9 25.59%, #DDE5FE 108.77%);
//   opacity: 0.44;
//   z-index: -1;
// }
/* whole banner section end */